<h1>Noticias Relacionadas</h1>

{% for noti in noticias_related %}
    <div class="row">
        <a href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': noti.noticia.slug}) }}" class="news-rel">
            <div class="col-md-6 col-xs-6">
                <img  width="100%" src="{{ vich_uploader_asset(noti.noticia, 'imgFile') }}" alt="">
            </div>
            <div class="col-md-6">
                <h2 class="title-{{ app.request.get('slug_site') }}">{{ noti.noticia.nombre }}</h2>
                <p style="text-transform: capitalize;">{{ noti.noticia.adedAt|date("m/d/Y")| localizeddate('long', 'none', app.request.locale ) }}</p>
                <p><i class="fa fa-comments" aria-hidden="true"></i> Comentarios ({{ noti.total }})</p>
            </div>
        </a>
    </div>
    <hr>
{% endfor %}
