<div class="proveedor-info">
    {#
    <div class="liston">
        <img src="{{ asset('images/liston_wedding.png')}}" alt="wedding premium">
    </div>
    #}
    {% if proveedor.logo is not null %}
        <img src="{{ vich_uploader_asset(proveedor.logo, 'logoFile') | imagine_filter('logo_thumb') }}" alt="{{ proveedor.nombre }}" />
    {% else %}
        <img src="{{ asset('images/logo_default.jpg') }}" alt="">
    {% endif %}

    <div id="rateYo"  data-rating="{{ moy }}"></div>



    <a class="ajax-popup-link" href="{{ path('cotizacion_negocio',
    {'slug_site': app.request.get('slug_site'),'slug_proveedor':proveedor.slug}) }}">
        <button type="button" class="btn btn-coti-{{ app.request.get('slug_site') }}">Contactar Empresa</button></a>
    <br>
    <p style="text-transform: capitalize"><i class="fa fa-map-marker icon-{{ app.request.get('slug_site') }}" aria-hidden="true"></i> {{ proveedor.direccion }}, {{ proveedor.distrito }} - {{ proveedor.departamento }}</p>
    <p><i class="fa fa-phone icon-{{ app.request.get('slug_site') }}" aria-hidden="true"></i> {{ proveedor.telefono }}</p>
    {% if proveedor.web is not null %}
        <div class="links-proveedores l{{ app.request.get('slug_site') }}">
            <a href="{{ proveedor.web }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> Página Web</a>
        </div>
    {% endif %}


    <div class="social-icons s{{ app.request.get('slug_site') }}">
        {% if proveedor.facebookLink is not null %}
            <a href="{{ proveedor.facebookLink }}" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}

        {% if proveedor.twitterLink is not null %}
            <a href="{{ proveedor.twitterLink }}" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}

        {% if proveedor.instagramLink is not null %}
            <a href="{{ proveedor.instagramLink }}" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}

        {% if proveedor.pinteresLink is not null %}
            <a href="{{ proveedor.pinteresLink  }}" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}
    </div>

</div>


<div class="proveedor-social s{{ app.request.get('slug_site') }}">
    {% if app.user is not null %}
        {% if favorito is not null%}
            <a style="font-size: 20px;border-radius: 5px" class="button-like" href="{{ path('proveedor_me_gusta', {'slug_site': app.request.get('slug_site'), 'slug_proveedor': proveedor.slug}) }}"><i class="fa fa-heart" aria-hidden="true"></i></a>

        {% else %}
            <a style="font-size: 20px ;border-radius: 5px" class="button-like"href="{{ path('proveedor_me_gusta', {'slug_site': app.request.get('slug_site'), 'slug_proveedor': proveedor.slug}) }}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
        {% endif %}

    {% else %}
        <a style="font-size: 20px;border-radius: 5px" class="button-like ajax-popup-link" href="{{ path('proveedor_me_gusta', {'slug_site': app.request.get('slug_site'), 'slug_proveedor': proveedor.slug}) }}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

    {% endif %}


    <a id="button-share" style="font-size: 20px ;border-radius: 5px" class="button-share" href="javascript:void(0)"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <div class="social-icons2 s{{ app.request.get('slug_site') }}">
            <a href="javascript:void(0);" id="shareBtnFacebook">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
            <a href="{{ 'https://twitter.com/share?text=Encuentra el proveedor : ' ~ proveedor.nombre }}" target="_blank" data-show-count="false">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
            </a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a href="{{ 'mailto:' ~ proveedor.email }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
            </a>
    </div>
</div>

