<div class="container form-{{ app.request.get('slug_site') }}-contactenos">

    <div class="col-md-6 contactenos-formu">
        <p>* Campos Obligatorios</p>
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}


        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name,'* Nombre') }}
            {% if form.name.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.name) }}</div>
                </div>
            {% endif %}

            {{ form_widget(form.name,{ 'attr': {'class': 'form-control','placeholder':'Carolina García'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email,'* Email') }}
            {% if form.email.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.email) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.email,{ 'attr': {'class': 'form-control','placeholder':'cgarcia@gmail.com'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tel,'* Teléfono') }}
            {% if form.tel.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.tel) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.tel,{ 'attr': {'class': 'form-control','placeholder':'Tu Teléfono'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.subject,'* Asunto') }}
            {% if form.subject.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.subject) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.subject,{ 'attr': {'class': 'form-control','placeholder':'Cotización'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.message,'* Mensaje') }}
            {% if form.message.vars.errors|length>0 %}
                <div class="alert alert-danger" role="alert">
                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.message) }}</div>
                </div>
            {% endif %}
            {{ form_widget(form.message,{ 'attr': {'class': 'form-control','placeholder':'Tu Mensaje'}}) }}
        </div>


        <div class="form-group">
            {{ form_widget(form.send, { 'label': 'Enviar', 'attr':{'class':'btn btn-'~app.request.get('slug_site')~'-entrar'} } ) }}
        </div>

        {{ form_end(form) }}



    </div>


    <div class="col-md-6">
        <div class="image-contact-{{ app.request.get('slug_site') }}">
        </div>
    </div>
</div>