<div class="variable-width">
    {% for f in fotos  %}
        <div>
            <img src="{{ vich_uploader_asset(f, 'imgFile') }}" />
        </div>
    {% endfor %}
</div>

{#
<div id="slider" class="flexslider">
    <ul class="slides">
        {% for f in proveedor.fotos  %}
            <li data-thumb="{{ vich_uploader_asset(f, 'imgFile')|imagine_filter('thumb_fotos') }}">
                <img src="{{ vich_uploader_asset(f, 'imgFile') }}" />
                {% if app.user is not null %}
                    {% set me_gusta = 0 %}
                    {% for fu in app.user.fotos  %}
                        {% if fu.foto.id==f.id %}
                            {% set me_gusta = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if me_gusta==1 %}
                        <div class="boton-megusta_{{ app.request.get('slug_site') }}">
                            <a href="{{ path('proveedor_foto_me_gusta',
                            {'slug_site': app.request.get('slug_site'),"slug_proveedor":proveedor.slug,"id":f.id}) }}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="boton-megusta_{{ app.request.get('slug_site') }}">
                            <a href="{{ path('proveedor_foto_me_gusta',
                            {'slug_site': app.request.get('slug_site'),"slug_proveedor":proveedor.slug,"id":f.id}) }}">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="boton-megusta_{{ app.request.get('slug_site') }}">
                        <a class="ajax-popup-link" href="{{ path('proveedor_foto_me_gusta',
                        {'slug_site': app.request.get('slug_site'),"slug_proveedor":proveedor.slug,"id":f.id}) }}">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}

    </ul>

</div>
#}


