<div class="col-sm-6 col-md-4 detail-prov">

        {% if admin is defined %}
            <a href="{{ path('admin_negocio_show', {'id': p.id}) }}">
        {% else %}
            <a href="{{ path('proveedor_detail', {'slug_site': slug_site,'slug_proveedor': p.slug}) }}">
        {% endif %}
            <div class="image-prov">
                {% if p.fotoListado is not null %}
                    <div style="text-align: center; background: rgba(0,0,0,.06)" class="prov-foto-{{ slug_site }}">
                        <img  class="prov-foto" src="{{ vich_uploader_asset(p.fotoListado, 'imgFile')| imagine_filter('thumb_proveedor') }}" alt="{{ p.nombre }}">
                    </div>
                {% else %}
                    <div class="img-default prov-foto-{{ slug_site }}">
                        {% if p.logo is not null %}
                            <img class="prov-foto" src="{{ asset('images/proveedores/logo/'~p.logo.logoName)}}" alt="{{ p.nombre }}">
                        {% else %}
                            <img src="{{ asset('images/logo_default.jpg') }}" alt="">
                        {% endif %}
                    </div>
                {% endif %}

                <div class="logo_tag">
                    {% if p.logo is not null %}
                        <img class="img-circle prov-foto" src="{{ asset('images/proveedores/logo/'~p.logo.logoName)}}" alt="{{ p.nombre }}">
                    {% else %}
                        <img class="img-circle" src="{{ asset('images/logo_default.jpg') }}" alt="">
                    {% endif %}
                </div>
            </div>

        </a>
</div>