
{% if proveedores|length >= 4 %}

{% endif %}


<hr/>
<h1 class="title-heading tittle-slicks2">Proveedores Relacionados</h1>
<div class="negocios-relacionados">

    {% for p in proveedores %}
        <div class="negocio-rel nego-{{ app.request.get('site') }}" >
            <a  class="image" href="{{ path('proveedor_detail', {'slug_site': app.request.get('site'),'slug_proveedor': p.proveedor.slug}) }}">
                {% if p.proveedor.fotoListado is not null %}
                    <img  class="prov-foto" src="{{ vich_uploader_asset(p.proveedor.fotoListado, 'imgFile')| imagine_filter('thumb_proveedor') }}" alt="{{ p.proveedor.nombre }}">
                {% else %}
                    <img src="http://placehold.it/350x150" alt=""/>
                {% endif %}
            </a>
            <div class="rateYoRelated"  data-rating="{{ p.mymoy }}"></div>
            <a class="name name-{{ app.request.get('site') }}" href="{{ path('proveedor_detail', {'slug_site': app.request.get('site'),'slug_proveedor': p.proveedor.slug}) }}">
                {{ p.proveedor.nombre }}
            </a>
        </div>
    {% endfor %}

</div>