
{% extends "FOSUserBundle::layout.html.twig" %}


{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_miperfil.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}
{% block selloimage %}
    <img src="{{ asset('images/logo_header.png') }}" alt="The event Planner">
{% endblock selloimage %}
{% block content %}

    {% block main_title %}
        <div id="tittle_responsive" class="container">
            <div class="row">
                <div class="tittle_base">
                    <img src="{{ asset('images/tittle_miperfil.png') }}" alt="Proveedores Tittle">
                </div>
            </div>
        </div>
    {% endblock %}
    {{ parent() }}
    <div class="container-fluid portada-profile">
        <div class="container profile-detail">
            <div class="col-sm-4 col-xs-12">
                {% if app.user.profile is not null %}
                    <img class="img-circle" width="40px" alt="user icon" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                {% else %}
                    <img class="img-circle" width="40px" alt="user icon" src="{{ asset('images/user_icon.png') }}">
                {% endif %}            </div>

        </div>
    </div>

    <div class="container">
        <div class="col-md-4 menu_profile">
            {{ knp_menu_render('AppBundle:Builder:menuProfile',{ 'template': 'knp_menu.html.twig'}) }}
        </div>
        <div class="col-md-8 cropcontain">
            <div class="col-md-4 col-md-offset-4">
                <p>Seleccione una foto</p>
                <div id="cropContainerMinimal"></div>
            </div>

        </div>
    </div>

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/croppic.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/default_noty.js') }}"></script>
    <script>
        $(document).ready(function() {
            var cropperOptions = {
                uploadUrl:'/app_dev.php/profile/image-processing',
                cropUrl:'/app_dev.php/profile/image-crop',
                modal:false,
                doubleZoomControls:false,
                rotateControls: false,
                loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
                onBeforeImgUpload: function(){  },
                onAfterImgUpload: function(){  },
                onImgDrag: function(){  },
                onImgZoom: function(){  },
                onBeforeImgCrop: function(){  },
                onAfterImgCrop:function(data){
                    noty({
                        text: data.message,
                        'layout':'bottom',
                        type:'theevent',
                        timeout:2000});
                    setTimeout(function(){
                        window.location.href = data.targetUrl;
                    }, 3000);
                    var n = noty({
                        theme: 'default_noty',
                    });
                },
                onReset:function(){  },
                onError:function(errormessage){ }
            }

            var cropperHeader = new Croppic('cropContainerMinimal', cropperOptions);
        });

    </script>
{% endblock %}

