

{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    {% block main_title %}

        <div class="container">

            <div class="row">
                <div class="tittle_general">
                    <img src="{{ asset('images/tittle_miperfil.png') }}" alt="Proveedores Tittle">
                </div>
            </div>

        </div>
    {% endblock %}

    {{ parent() }}
    <div class="container-fluid portada-profile">
        <div class="container profile-detail">
            <div class="col-sm-4 col-xs-12">
                <img class="img-circle" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}" alt="User_foto">
            </div>

        </div>
    </div>

    <div class="container">
        <div class="col-md-4 menu_profile">
            {{ knp_menu_render('AppBundle:Builder:menuProfile',{ 'template': 'knp_menu.html.twig'}) }}
        </div>
        <div class="col-md-8">
            <h4 class="centered"> Minimal Controls </h4>
            <p class="centered">( define the controls available )</p>
            <div id="cropContainerMinimal"></div>
        </div>
    </div>

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/croppic.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.noty.packaged.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            var cropperOptions = {
                uploadUrl:'/app_dev.php/profile/image-processing',
                cropUrl:'/app_dev.php/profile/image-crop',
                modal:false,
                doubleZoomControls:false,
                rotateControls: false,
                loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
                onBeforeImgUpload: function(){  },
                onAfterImgUpload: function(){  },
                onImgDrag: function(){  },
                onImgZoom: function(){  },
                onBeforeImgCrop: function(){  },
                onAfterImgCrop:function(data){
                    noty({text: data.message,'layout':'bottom',type:'success',timeout:2000});
                    setTimeout(function(){
                        window.location.href = data.targetUrl;
                    }, 3000);

                },
                onReset:function(){  },
                onError:function(errormessage){ }
            }

            var cropperHeader = new Croppic('cropContainerMinimal', cropperOptions);
        });

    </script>
{% endblock %}

