{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': {novalidate: 'novalidate','class': 'fos_user_profile_edit' } }) }}
<div class="container form-login">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            {{ form_label(form.username,'Nombre de Usuario') }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email,'Email') }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.current_password,'Contraseña Actual') }}
            {{ form_errors(form.current_password) }}
            {{ form_widget(form.current_password,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.nombres,'Nombres') }}
            {{ form_errors(form.nombres) }}
            {{ form_widget(form.nombres,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.apellidos,'Apellidos') }}
            {{ form_errors(form.apellidos) }}
            {{ form_widget(form.apellidos,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.dni,'DNI') }}
            {{ form_errors(form.dni) }}
            {{ form_widget(form.dni,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div>
            <input class="btn btn-entrar" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>

    </div>
</div>


{{ form_end(form) }}
