{% extends "FOSUserBundle::layout.html.twig" %}


{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_miperfil.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}
{% block selloimage %}
    <img src="{{ asset('images/logo_header.png') }}" alt="The event Planner">
{% endblock selloimage %}
{% block content %}
    {% block main_title %}
        <div id="tittle_responsive" class="container">
            <div class="row">
                <div class="tittle_base">
                    <img src="{{ asset('images/tittle_miperfil.png') }}" alt="Proveedores Tittle">
                </div>
            </div>
        </div>
    {% endblock %}
    {{ parent() }}

    <div class="container-fluid portada-profile">
        <div class="container profile-detail">
            <div class="col-sm-4 col-xs-12">
                {% if app.user.profile is not null %}
                    <img class="img-circle" width="40px" alt="user icon" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                {% else %}
                    <img class="img-circle" width="40px" alt="user icon" src="{{ asset('images/user_icon.png') }}">
                {% endif %}
            </div>

        </div>
    </div>
    <div class="container">
        <div class="col-md-4 menu_profile">
            {{ knp_menu_render('AppBundle:Builder:menuProfile',{ 'template': 'knp_menu.html.twig'}) }}
        </div>
        <div class="col-md-8  profile-content">
            {#
            <h3>Proveedores Favoritos ({{ proveedores_favoritos|length }})</h3>
            <div class="row">

                {% for f in proveedores_favoritos %}
                    <div class="col-md-4 fotos_profile_gusta">
                        <a href="{{ path('proveedor_detail', {'slug_site': 'wedding','slug_proveedor': f.proveedor.slug}) }}">
                            <img src="{{ vich_uploader_asset(f.proveedor.logo, 'logoFile') }}" alt="">
                        </a>
                    </div>
                {% endfor %}


            </div>
            #}
            <div class="row">
                <h1>Proveedores Favoritos Wedding</h1>
                <div class="multiple-items">
                    {% for pf in proveedores_favoritos_w %}
                        <div class="one-item">
                            <a href="{{ path('proveedor_detail', {'slug_site': 'wedding','slug_proveedor': pf.proveedor.slug}) }}">
                                <img src="{{ vich_uploader_asset(pf.proveedor.logo, 'logoFile') }}" alt="{{ pf.proveedor.nombre }}">
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="row">
                <h1>Proveedores Favoritos Kids</h1>
                <div class="multiple-items">
                    {% for pf in proveedores_favoritos_k %}
                        <div class="one-item">
                            <a href="{{ path('proveedor_detail', {'slug_site': 'kids','slug_proveedor': pf.proveedor.slug}) }}">
                                <img src="{{ vich_uploader_asset(pf.proveedor.logo, 'logoFile') }}" alt="{{ pf.proveedor.nombre }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <h1>Proveedores Favoritos Party</h1>
                <div class="multiple-items">
                    {% for pf in proveedores_favoritos_p %}
                        <div class="one-item">
                            <a href="{{ path('proveedor_detail', {'slug_site': 'party','slug_proveedor': pf.proveedor.slug}) }}">
                                <img src="{{ vich_uploader_asset(pf.proveedor.logo, 'logoFile') }}" alt="{{ pf.proveedor.nombre }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <h1>Proveedores Favoritos Dinner</h1>
                <div class="multiple-items">
                    {% for pf in proveedores_favoritos_d %}
                        <div class="one-item">
                            <a href="{{ path('proveedor_detail', {'slug_site': 'dinner','slug_proveedor': pf.proveedor.slug}) }}">
                                <img src="{{ vich_uploader_asset(pf.proveedor.logo, 'logoFile') }}" alt="{{ pf.proveedor.nombre }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script>
        $('.multiple-items').slick({
            arrows: true,
            autoplay: true,
            infinite: true,
            variableWidth:true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        arrows: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
            ]
        });
    </script>
{% endblock %}



