{% extends "FOSUserBundle::layout.html.twig" %}



{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuProfile', [], {'site':app.session.get('site'),'image_title': 'tittle_miperfil.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block selloimage %}
    <div class="two">
        <div class="front">
            <a href="{{ path('selection_start') }}">
                <img display="block" src="{{ asset('images/logo_header.png') }}" alt="The event Planner">
            </a>
        </div>
        <div class="back">
            <a href="{{ path('selection_start') }}">
                <img display="block" src="{{ asset('images/sellos_home_prin.png') }}" alt="The event Planner">
            </a>
        </div>
    </div>
{% endblock selloimage %}

{% block content %}
    {% block main_title %}
        <div id="tittle_responsive" class="container">
            <div class="row">
                <div class="tittle_base">
                    <img src="{{ asset('images/tittle_miperfil.png') }}" alt="Proveedores Tittle">
                </div>
            </div>
        </div>
    {% endblock %}



    {{ parent() }}
    <div class="container-fluid portada-profile">
        <div class="container profile-detail">
            <div class="col-sm-4 col-xs-12">
                {% if app.user.profile is not null %}
                    <img class="img-circle" width="40px" alt="user icon" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                {% else %}
                    <img class="img-circle" width="40px" alt="user icon" src="{{ asset('images/user_icon.png') }}">
                {% endif %}
            </div>

        </div>
    </div>


    <div class="container">
        <div class="col-md-4 menu_profile">
            {{ knp_menu_render('AppBundle:Builder:menuProfile',{ 'template': 'knp_menu.html.twig'}) }}
        </div>
        <div class="col-md-8  profile-content">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div>
    </div>

{% endblock content %}


