{% trans_default_domain 'FOSUserBundle' %}


<div class="container profile-detail">
    <div class="col-md-4">
        <img src="{{ asset('images/user_icon.png') }}" alt="User_foto">
        <p>{{ user.nombres }} {{ user.apellidos }}</p>
    </div>

    <div class="col-md-8 fos_user_user_show">
        <div class="user_show">
            <p><span>Nombre de Usuario:</span> {{ user.username }}</p>
            <p><span>Email:</span> {{ user.email }}</p>
            <p><span>DNI:</span> {{ user.dni }}</p>
        </div>
    </div>
</div>




