<html>

<body>
    <div>
        <img width="250px" src="{{logo}}" alt="logo event planner">
        <p>Haz Recibido un nuevo mensaje de <strong>{{ nombre }} </strong>con <strong>asunto:</strong> <strong><span style="text-transform: uppercase">{{ asunto }}</span></strong></p>
        <p><strong>Email: </strong> {{ email }}</p>
        <p><strong>Teléfono: </strong> {{ telefono }}</p>
        <p><strong>Mensaje:</strong></p>
        <p>{{ mensaje }}</p>
        <br>
        <p style="font-style: italic; color: rgba(0,0,0,.5);">"Este es un mensaje automático del sistema y no es necesario responder."</p>
    </div>
</body>


</html>









