<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('css/styles_diagonal.css') }}">
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
                <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/DiagonalSlider.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/jquery.rateyo.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/imagesloaded.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/AnimOnScroll.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}"></script>


        {% endblock %}

        {% block footer %}

        {% endblock %}
    </body>


</html>
