<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <title>{% block title %}Bienvenidos!{% endblock %}</title>
        {% block metaFacebook %}

        {% endblock %}
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('css/styles_diagonal.css') }}">
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('css/component.css') }}">
            <link rel="stylesheet" href="{{ asset('css/croppic.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slick-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    {% if home is defined %}

    <body id="home">

    {% else %}

    <body>

    {% endif %}

    <div id="wrap">
        {% block body %}
        {% endblock %}
    </div>



    <div id="footer-master">
        {% block footer %}

        {% endblock %}
    </div>



    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    {% endblock %}

    </body>

</html>

