<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Registro</title>
</head>

<body class="register_negocio">


<div class="container-fluid">
    <div class="row">
        <img width="100%" src="{{ asset('images/banner-register.jpg') }}" alt="">
    </div>
</div>

<div class="container-fluid negocio_reg">
    <div class="col-md-10 col-md-offset-1">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="main-error">
                {{ form_errors(form) }}
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-check-square" aria-hidden="true"></i> Datos de Acceso
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.username,'* Usuario') }}

                        {% if form.username.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.username) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.username,{ 'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first,'* Contraseña') }}

                        {% if form.plainPassword.first.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.plainPassword.first) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second,'* Repita Contraseña') }}

                        {% if form.plainPassword.second.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.plainPassword.second) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>
                <div class="col-md-6">
                    <p>* Campos Obligatorios</p>
                    <p>El usuario debe tener al menos 6 caracteres, la contraseña al menos 4 caracteres y considera las mayúsculas y minúsculas.</p>
                </div>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-briefcase" aria-hidden="true"></i> Datos de Empresa
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.nombre,'* Nombre') }}
                        {% if form.nombre.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.nombre) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email,'* Email') }}

                        {% if form.email.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.email) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.email,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description,'* Descripción') }}

                        {% if form.description.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.description) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.description,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    {#
                        <div class="form-group">
                            {{ form_label(form.tempFile,'* Logo') }}
                            {% if form.tempFile.vars.errors|length>0 %}
                                <div class="alert alert-danger" role="alert">
                                    <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.tempFile) }}</div>
                                </div>
                            {% endif %}
                            {{ form_widget(form.tempFile,{ 'attr': {'class': 'form-control'}}) }}
                        </div>
                    #}
                    <div class="form-group">
                        {{ form_label(form.direccion,'* Dirección') }}
                        {% if form.direccion.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.direccion) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.direccion,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.distrito,'* Distrito') }}

                        {% if form.distrito.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.distrito) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.distrito,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.departamento,'* Departamento') }}

                        {% if form.departamento.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.departamento) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.departamento,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.telefono,'* Teléfono') }}

                        {% if form.telefono.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.telefono) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.telefono,{ 'attr': {'class': 'form-control'}}) }}
                    </div>


                </div>
                <div class="col-md-6">
                    <p>* Campos Obligatorios</p>
                    <p>Recibirás las solicitudes de información de usuarios interesados en el email que hayas indicado, así como todas las novedades del portal que te pueden interesar.</p>
                    <p>
                    {#<p><strong>Recomendaciones para el Logo:</strong></p>
                        <ul>
                            <li><p>Recomendamos una imagen cuadrado (ej : 300x300)</p></li>
                            <li><p>Recomendamos una imagen formato JPG o PNG</p></li>
                            <li><p>La imagen no puede pesar mas de 300KB</p></li>
                            <li><p>Ancho minimo del logo 250px</p></li>
                            <li><p>Altura minima del logo 250px</p></li>
                        </ul>
                    </p>
                    #}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users" aria-hidden="true"></i> Datos Sociales
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.web,'Web') }}
                        {{ form_errors(form.web) }}
                        {{ form_widget(form.web,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.facebookLink,'Facebook Link') }}
                        {{ form_errors(form.facebookLink) }}
                        {{ form_widget(form.facebookLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.twitterLink,'Twitter Link') }}
                        {{ form_errors(form.twitterLink) }}
                        {{ form_widget(form.twitterLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.pinteresLink,'Pinterest Link') }}
                        {{ form_errors(form.pinteresLink) }}
                        {{ form_widget(form.pinteresLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.instagramLink,'Instagram Link') }}
                        {{ form_errors(form.instagramLink) }}
                        {{ form_widget(form.instagramLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Los links aparecerán en la página de detalle de tu empresa para que los usuario puedan encontrarte en tus redes sociales.</p>
                </div>

            </div>

        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-briefcase" aria-hidden="true"></i> Rubro de Actividad
            </div>
            <div class="panel-body">
                {% if form.categoriasListado.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.categoriasListado) }}</div>
                    </div>
                {% endif %}
                <div class="form-group check-boxs">
                    {% for name, choices in form.categoriasListado.vars.choices %}
                        <div class="col-md-3">
                            <ul class="lists">
                                <li class="checkbox_category">
                                    <input type="checkbox" class="checkallsub" /> {{ name }}
                                </li>

                                {% for key,choice in choices %}
                                    <li class="indent">
                                        {{ form_errors(form.categoriasListado[key]) }}
                                        {{ form_widget(form.categoriasListado[key]) }}
                                        {{ form_label(form.categoriasListado[key]) }}
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>

                    {% endfor %}
                </div>

            </div>

        </div>
        <div class="form-group">
            {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Registrarse'}) }}
        </div>
        {{ form_end(form) }}
    </div>

</div>


<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script>
    $('#proveedor_submit').click(function(e){
        $(this).prop('disabled', true);
        $( "form" ).submit();
    });
</script>
</body>


</html>



{#
{{ google_map_css(map) }}
{{ google_map_container(map) }}
{{ google_map_js(map) }}
#}
