{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Selection Page {% endblock %}
{% block body %}

    <div class="content_slider">

        <div class="gallery_content">
            <div class="sello">
                <img src="{{ asset('images/logo_sello.png') }}" alt="The event Planner">
            </div>
            <div class="gallery_item">
                <div class="tittle_cat">
                    <h1>Weedings</h1>
                    <a href="{{ path('site_start', {'slug_site': 'wedding'}) }}">Ver m치s</a>
                </div>

                <img src="{{ asset('images/weddings3.jpg') }}" data-title="Weddings"/>
            </div>
            <div class="gallery_item">
                <div class="tittle_cat">
                <h1>Kids</h1>
                <a href="{{ path('site_start', {'slug_site': 'kids'}) }}">Ver m치s</a>
                </div>
                <img src="{{ asset('images/kids2.jpg') }}" data-title="Kids"/>
            </div>
            <div class="gallery_item">
                <div class="tittle_cat">
                <h1>Party</h1>
                <a href="{{ path('site_start', {'slug_site': 'party'}) }}">Ver m치s</a>
                </div>
                <img src="{{ asset('images/party.jpg') }}" data-title="Party"/>
            </div>
            <div class="gallery_item">
                <div class="tittle_cat">
                <h1>Dinner</h1>
                <a href="{{ path('site_start', {'slug_site': 'dinner'}) }}">Ver m치s</a>
                </div>
                <img src="{{ asset('images/dinner2.jpg') }}" data-title="Dinner"/>
            </div>
        </div>
    </div>

    <div class="content_slider_resp">

        <div class="gallery_content_resp">
            <div class="sello_top_resp">
                <img src="{{ asset('images/top_logo.png') }}" alt="The event Planner">
            </div>

            <a class="test" href="{{ path('site_start', {'slug_site': 'wedding'}) }}">
                <h1>Weddings</h1>
            </a>

            <a class="test" href="{{ path('site_start', {'slug_site': 'kids'}) }}">
                <h1>Kids</h1>
            </a>

            <a class="test" href="{{ path('site_start', {'slug_site': 'party'}) }}">
                <h1>Party</h1>
            </a>

            <a class="test" href="{{ path('site_start', {'slug_site': 'dinner'}) }}">
                <h1>Dinner</h1>

            </a>
            <div class="sello_resp">
                <img src="{{ asset('images/bottom_logo.png') }}" alt="The event Planner">
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}
