<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>
<!--
        <nav id="nav-dashboard" class="navbar navbar-default">
            {{ knp_menu_render('AppBundle:Builder:menuAdmin',{ 'template': 'knp_menu.html.twig'}) }}
        </nav>
        -->

<nav id="nav-dashboard" class="navbar navbar-default">
    <ul class="nav menu-dashboard">
        <li>
            <a class="dropdown-toggle" href="{{ path('admin_start') }}">
                <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>
        </li>
        <li>
            <a class="dropdown-toggle  active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-briefcase" aria-hidden="true"></i> Lista de Negocios
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_negocios') }}">Ver Todo</a></li>
                <li><a href="#">Agregar Nuevo</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Lista de Tendencias
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_tendencias') }}">Ver Todo</a></li>
                <li><a href="{{ path('admin_tendencia_add') }}">Agregar Nuevo</a></li>
            </ul>
        </li>
    </ul>
</nav>



<div class="container">
    <div class="col-md-10 body-dashboard">

        {% for p in proveedores %}
            <div class="col-sm-6 col-md-4 detail-prov">
                <a href="{{ path('admin_negocio_show', {'id': p.id}) }}">
                    <div class="image-prov">

                        {% if p.fotos is empty %}
                            <div class="img-default2 prov-foto2">
                                <img src="{{ asset('images/proveedores/logo/'~p.logo.logoName)}}" alt="{{ p.nombre }}">
                            </div>
                        {% else %}
                            {% for f in p.fotos  %}
                                {% if f.isListado %}
                                    <img class="prov-foto2" src="{{ asset('images/proveedores/fotos/'~f.img)}}" alt="{{ f.proveedor.nombre}}">
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="logo_tag">
                            <img class="img-circle" src="{{ asset('images/proveedores/logo/'~p.logo.logoName)}}" alt="{{ p.nombre }}">
                        </div>
                    </div>

                </a>
            </div>
        {% endfor %}





    </div>
    <div class="navigation2">
        {{ knp_pagination_render(proveedores) }}
    </div>

</div>





<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
</body>

</html>







