
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>

{{ include('admin/includes/menu.html.twig', { 'seccions': seccion }) }}



<div class="container">
    <div class="col-md-8 body-dashboard">
        <a class="tendencias_return" href="{{ path('admin_noticias') }}">
            <button class="btn btn-entrar">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a Noticias
            </button>
        </a>
        {% for label, flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}

        <h1 class="admin_h1">Editar Noticia</h1>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(form.type,'Type') }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type,{ 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.nombre,'Nombre') }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">

                {{ form_label(form.imgFile,'Imagen Principal') }}
                <img style="display: block;margin: 5px 0" width="20%" src="{{ vich_uploader_asset(noticia, 'imgFile') }}" alt="">
                {{ form_errors(form.imgFile) }}
                {{ form_widget(form.imgFile,{ 'attr': {'class': 'form-control'}}) }}

            </div>
            <div class="form-group">
                {#{{ form_row(form.parafos) }}#}
                <label class="required">Parafos</label>
                <ul id="noticia_parafos" data-prototype="{{ form_widget(form.parafos.vars.prototype)|e('html_attr') }}">
                {% for key,p in form.parafos %}
                    <li>{{ form_row(p.description) }}
                        <img width="50" height="50" style="float: right" src="{{ vich_uploader_asset(noticia.parafos[key], 'imgFile') }}" alt=""/>
                        {{ form_row(p.imgFile) }}
                    </li>
                {% endfor %}
                </ul>

            </div>
            <div class="form-group">
                {{ form_widget(form.submit, { 'label': 'Guardar', 'attr':{'class':'btn btn-entrar'} } ) }}
            </div>

        {{ form_end(form) }}

        <a href="#" class="btn btn-success" id="add-another-parafo"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Nuevo Párrafo</a>

        <div id="preview">
            <h1 class="admin_h1">Vista Previa Noticia</h1>
            {{ include('comun_includes/noticia_detail.html.twig', { 'noticia': noticia  , 'comentarios':null , 'myc':null, 'slug_site':'wedding'})}}
        </div>

    </div>

</div>



<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script>


    $("#preview a").click(function(){
        return false;
    })

    var sourceCount = '{{ form.parafos | length }}';
    jQuery('#add-another-parafo').click(function() {
        var sourceList = jQuery('#noticia_parafos');
        // grab the prototype template
        var newWidget = sourceList.attr('data-prototype');
        // replace the "$$name$$" used in the id and name of the prototype
        // with a number that's unique to our emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/\_\_name\_\_/g, sourceCount);
        newWidget= "<li>"+newWidget+"</li>";
        sourceCount++;
        //alert(newWidget);
        // create a new list element and add it to our list
        //var newLi = jQuery('<li></li>').html(newWidget);
        //newLi.appendTo(jQuery('#email-fields-list'));
        jQuery('#noticia_parafos').append(newWidget);

        return false;
    });
</script>

</body>

</html>






