
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>
{{ include('admin/includes/menu.html.twig', { 'seccions': seccion }) }}

<div class="container">
    <div class="col-md-10 body-dashboard ">
        {% for label, flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}
        <h1 class="admin_h1">Agregar Nueva Noticia</h1>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            {{ form_label(form.type,'Type') }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nombre,'Nombre') }}
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.imgFile,'Imagen Principal') }}
            {{ form_errors(form.imgFile) }}
            {{ form_widget(form.imgFile,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.parafos) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit, { 'label': 'Guardar', 'attr':{'class':'btn btn-entrar'} } ) }}
        </div>

        {{ form_end(form) }}

        <a href="#" class="btn btn-success" id="add-another-parafo"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Nuevo Párrafo</a>

    </div>
</div>



<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script>

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="javascript:void(0)"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar este Parafo</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // remove the div for the tag form
            $tagFormLi.remove();
        });
    }

    var sourceCount = '{{ form.parafos | length }}';
    jQuery('#add-another-parafo').click(function() {
        var sourceList = jQuery('#noticia_parafos');

        // grab the prototype template
        var newWidget = sourceList.attr('data-prototype');
        // replace the "$$name$$" used in the id and name of the prototype
        // with a number that's unique to our emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/\_\_name\_\_/g, sourceCount);
        sourceCount++;
        //alert(newWidget);
        // create a new list element and add it to our list
        //var newLi = jQuery('<li></li>').html(newWidget);
        //newLi.appendTo(jQuery('#email-fields-list'));
        jQuery('#noticia_parafos').append(newWidget);

        jQuery('#noticia_parafos > div:last').each(function() {
            addTagFormDeleteLink($(this));
        });

        return false;
    });
</script>
</body>

</html>








