<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>
<!--
        <nav id="nav-dashboard" class="navbar navbar-default">
            {{ knp_menu_render('AppBundle:Builder:menuAdmin',{ 'template': 'knp_menu.html.twig'}) }}
        </nav>
        -->

{{ include('admin/includes/menu.html.twig', { 'seccions': seccion }) }}

<div class="container">
    <div class="col-md-10 body-dashboard">
        {% for label, flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}

        <a class="tendencias_return" href="{{ path('admin_tendencias') }}">
            <button class="btn btn-entrar">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a Lista de Tendencias
            </button>
        </a>

        {{ form_start(form_tendencia) }}
        <h1 class="admin_h1">Agregar Nueva Tendencia</h1>
        <div class="form-group">
            {{ form_label(form_tendencia.type,'Tipo') }}
            {{ form_errors(form_tendencia.type) }}
            {{ form_widget(form_tendencia.type,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.nombre,'Nombre de la Tendencia') }}
            {{ form_errors(form_tendencia.nombre) }}
            {{ form_widget(form_tendencia.nombre,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.description,'Descripción') }}
            {{ form_errors(form_tendencia.description) }}
            {{ form_widget(form_tendencia.description,{ 'attr': {'class': 'form-control','rows':'8'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.sort,'Sort') }}
            {{ form_errors(form_tendencia.sort) }}
            {{ form_widget(form_tendencia.sort,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.imgFile,'Elija una imagen') }}
            {{ form_errors(form_tendencia.imgFile) }}
            {{ form_widget(form_tendencia.imgFile,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.masNombre,'Ver Más Nombre') }}
            {{ form_errors(form_tendencia.masNombre) }}
            {{ form_widget(form_tendencia.masNombre,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.masUrl,'Ver Más Url') }}
            {{ form_errors(form_tendencia.masUrl) }}
            {{ form_widget(form_tendencia.masUrl,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form_tendencia.sources) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_tendencia.submit, { 'label': 'Guardar', 'attr':{'class':'btn btn-entrar'} } ) }}
        </div>

        {{ form_end(form_tendencia) }}

    </div>
</div>



<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

</body>

</html>










