<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/component.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>
<!--
        <nav id="nav-dashboard" class="navbar navbar-default">
            {{ knp_menu_render('AppBundle:Builder:menuAdmin',{ 'template': 'knp_menu.html.twig'}) }}
        </nav>
        -->

{{ include('admin/includes/menu.html.twig', { 'seccions': seccion }) }}

</nav>
<div class="container">
    <div class="col-md-10 body-dashboard">
        {% for label, flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}
        <a class="tendencias_return" href="{{ path('admin_tendencias') }}">
            <button class="btn btn-entrar">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a Lista de Tendencias
            </button>
        </a>
        <h1 class="admin_h1">
            Editar Tendencia
        </h1>
        {{ form_start(form_tendencia,{'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group">
            {{ form_label(form_tendencia.type,'Tipo') }}
            {{ form_errors(form_tendencia.type) }}
            {{ form_widget(form_tendencia.type,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group group-sources">
            {{ form_row(form_tendencia.sources) }}
            <a class="btn btn-success" href="#" id="add-another-source"><i class="fa fa-plus" aria-hidden="true"></i> Agregar otro Source</a>
        </div>

        <div class="form-group">
            {{ form_label(form_tendencia.nombre,'Nombre') }}
            {{ form_errors(form_tendencia.nombre) }}
            {{ form_widget(form_tendencia.nombre,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.description,'Descripción') }}
            {{ form_errors(form_tendencia.description) }}
            {{ form_widget(form_tendencia.description,{ 'attr': {'class': 'form-control','rows':'8'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.masNombre,'Encuentra Mas Nombre') }}
            {{ form_errors(form_tendencia.masNombre) }}
            {{ form_widget(form_tendencia.masNombre,{ 'attr': {'class': 'form-control','placeholder':'ej : Catering'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.masUrl,'Encuentra Mas Enlace') }}
            {{ form_errors(form_tendencia.masUrl) }}
            {{ form_widget(form_tendencia.masUrl,{ 'attr': {'class': 'form-control','placeholder':'ej : http://theeventplanner.pe/wedding/proveedores/catering-w'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form_tendencia.sort,'Sort') }}
            {{ form_errors(form_tendencia.sort) }}
            {{ form_widget(form_tendencia.sort,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <img  width="120px" style="padding: 10px" src="{{ asset('images/tendencias/'~tendencia.img) }}">
            {{ form_label(form_tendencia.imgFile,'Elija una imagen') }}
            {{ form_errors(form_tendencia.imgFile) }}
            {{ form_widget(form_tendencia.imgFile,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_tendencia.submit, { 'label': 'Guardar', 'attr':{'class':'btn btn-entrar'} } ) }}
        </div>

        {{ form_end(form_tendencia) }}

        <hr/>
        <h1 class="admin_h1">
            Agregar Inspiraciones
        </h1>


        {{ form_start(form_inspiracion,{'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(form_inspiracion.nombre,'Título de la Inspiración') }}
                {{ form_errors(form_inspiracion.nombre) }}
                {{ form_widget(form_inspiracion.nombre,{ 'attr': {'class': 'form-control','placeholder':'Título de la Inspiración'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form_inspiracion.sort,'Sort') }}
                {{ form_errors(form_inspiracion.sort) }}
                {{ form_widget(form_inspiracion.sort,{ 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form_inspiracion.imgFile,'Elija una imagen') }}
                {{ form_errors(form_inspiracion.imgFile) }}
                {{ form_widget(form_inspiracion.imgFile,{ 'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form_inspiracion.submit, { 'label': 'Guardar', 'attr':{'class':'btn btn-entrar'} } ) }}
            </div>
        {{ form_end(form_inspiracion) }}

        <ul class="grid effect-1" id="grid">
            {% for ifa in inspiraciones %}

                <li class="tendencias-images">
                    <span style="color: white;position: absolute"><b>{{ ifa.sort }}</b></span>
                    <a onclick="return confirm('¿Estas seguro de eliminar esta foto?');" class="admin_delete" href="{{ path('admin_tendencia_inspiracion_delete', {'id': ifa.id}) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <img src="{{ asset('images/inspiraciones/'~ifa.img) }}">
                </li>
            {% endfor %}

        </ul>
    </div>
</div>


<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/imagesloaded.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/AnimOnScroll.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}"></script>
<script>



    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar este Source</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // remove the div for the tag form
            $tagFormLi.remove();
        });
    }

    new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
    } );

    var sourceList = jQuery('#tendencia_sources');

    jQuery('#tendencia_sources > div').each(function() {
        addTagFormDeleteLink($(this));
    });

    var sourceCount = '{{ form_tendencia.sources | length }}';
    jQuery('#add-another-source').click(function() {
        sourceList = jQuery('#tendencia_sources');

        // grab the prototype template
        var newWidget = sourceList.attr('data-prototype');
        // replace the "$$name$$" used in the id and name of the prototype
        // with a number that's unique to our emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/\_\_name\_\_/g, sourceCount);

        //var $removeFormA = '<a href="#">delete this tag</a>';
        //newWidget+= $removeFormA;
        sourceCount++;
        //alert(newWidget);
        // create a new list element and add it to our list
        //var newLi = jQuery('<li></li>').html(newWidget);
        //newLi.appendTo(jQuery('#email-fields-list'));
        jQuery('#tendencia_sources').append(newWidget);

        jQuery('#tendencia_sources > div:last').each(function() {
            addTagFormDeleteLink($(this));
        });

        return false;
    });
</script>

</body>

</html>






