


<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>

{{ include('admin/includes/menu.html.twig', { 'seccions': seccion }) }}

<div class="container">
    <div class="col-md-10 body-dashboard">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <h1>Agregar Nuevo Video</h1>
        <div class="form-group">
            {{ form_label(form.type,'Tipo') }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.player,'Player') }}
            {{ form_errors(form.player) }}
            {{ form_widget(form.player,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nombre,'Nombre') }}
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control','rows':'8'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.url,'Url Embed del Video') }}
            {{ form_errors(form.url) }}
            {{ form_widget(form.url,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.sort,'Sort') }}
            {{ form_errors(form.sort) }}
            {{ form_widget(form.sort,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, { 'label': 'Guardar', 'attr':{'class':'btn btn-entrar'} } ) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>






<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>


</body>

</html>


