

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>

{{ include('admin/includes/menu.html.twig', { 'seccions': seccion }) }}

<div class="container">
    <div class="links-tendencias">
        <ul>
            <li><a href="{{ path('admin_videos_seccion', {'slug_site': 'wedding'}) }}">Videos Weeding</a></li>
            <li><a href="{{ path('admin_videos_seccion', {'slug_site': 'party'}) }}">Videos Party</a></li>
            <li><a href="{{ path('admin_videos_seccion', {'slug_site': 'kids'}) }}">Videos Kids</a></li>
            <li><a href="{{ path('admin_videos_seccion', {'slug_site': 'dinner'}) }}">Videos Dinner</a></li>
        </ul>
    </div>

    <div class="col-md-10 body-dashboard" style="padding: 20px 0">

        {% for label, flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}
        {% for v in videos %}
            <div class="col-md-6">
                <a class="admin_edit" href="{{ path('admin_video_edit', {'id': v.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
                <a onclick="return confirm('¿Estas seguro de eliminar este video?');" class="admin_delete3" href="{{ path('admin_video_delete', {'id': v.id}) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="embed-responsive embed-responsive-16by9 video-general">
                    <iframe class="embed-responsive-item" src="{{ v.url }}"></iframe>
                </div>

            </div>
        {% endfor %}

    </div>
</div>






<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>


</body>

</html>







