<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/component.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body>
<!--
        <nav id="nav-dashboard" class="navbar navbar-default">
            {{ knp_menu_render('AppBundle:Builder:menuAdmin',{ 'template': 'knp_menu.html.twig'}) }}
        </nav>
        -->

{{ include('admin/includes/menu.html.twig', { 'seccions': seccion }) }}

</nav>
<div class="container">
    <div class="col-md-10 body-dashboard dash-edit">
        {% for label, flash in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}
        <a class="tendencias_return" href="{{ path('admin_votos') }}">
            <button class="btn btn-entrar">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a Votos
            </button>
        </a>
        <h1>
            Editar Voto
        </h1>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

        <div class="form-group">
            {{ form_label(form.nombre,'Nombre') }}
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description,'Descripción') }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description,{ 'attr': {'class': 'form-control','rows':'8'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.sort,'Sort') }}
            {{ form_errors(form.sort) }}
            {{ form_widget(form.sort,{ 'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit, { 'label': 'Guardar', 'attr':{'class':'btn btn-entrar'} } ) }}
        </div>

        {{ form_end(form) }}

    </div>
</div>



<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/imagesloaded.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/AnimOnScroll.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}"></script>
</body>

</html>






