{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/slick-theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Preview</title>
</head>

<body>

{{ include('admin/previews_admin/include_aprobar.html.twig') }}

{{ include('admin/previews_admin/include_buttons_seccions.html.twig',{'active_sections': 'wedding','id':proveedor.id}) }}



<div class="container proveedor-detail-page">

    <div class="row">

        <div class="col-md-4 col-md-push-8 card-prov">
            <div class="proveedor-fixed">
                {{ include('comun_includes/card-prov.html.twig',{'moy':3,'favorito':null})}}
            </div>
        </div>

        <div class="col-md-8 col-md-pull-4">

            <!-- Slider Section -->

            <div class="row slider-section">
                {{ include('comun_includes/flexslider-detail.html.twig')}}
            </div>

            <!-- Fin Slider Section -->


            <!-- Description Section -->
            <hr>
            <h1 class="tittle-slicks">{{ proveedor.nombre }}</h1>
            <p class="proveedor-content">
                {{ proveedor.description |nl2br}}
            </p>
            <!-- Fin Descriptioin Section -->

            <!-- Google Section -->

            {% if map is defined %}
                <hr>
                <h1 class="tittle-slicks" style="margin-bottom: 22px">Ubícanos</h1>
                {{ google_map(map) }}
            {% endif %}


            <!-- Fin Google Section -->
            {% if proveedor.preguntas|length > 0 %}
                <hr>
                {{ include('comun_includes/preguntas_frecuentes.html.twig')}}

            {% endif %}

            <hr>
            <!-- Comentarios Section -->

            <div class="comments-box2">
                <h4 class="title-heading tittle-slicks2">Comentarios <span>(1)</span></h4>

                    <div class="media comment">
                        <div class="media-left">
                            <img class="img-circle" width="90px" alt="user icon" src="{{ asset('images/user_icon.png') }}">
                        </div>
                        <div class="media-body">

                            <h5 class="media-heading">
                                <h3 style="margin-top: 0;font-size: 21px;margin-bottom: 5px">¡Excelente!</h3>
                                <div class="rateYo_comments" data-rating="4"></div><span >Patrick Mary - </span>
                                <small class="date">27, Julio 2016</small>
                            </h5>
                            <p>Que les puedo decir, aparte de que tomaron las mejores fotos del mundo en el día de mi Boda, ahora siendo wedding planner de Boda Inolvidable, los recomiendo a todas mis novias, no solo por el profesionalismo si no que tbm por el talento que tienen.</p>
                            <div class="col-md-11 respuesta">
                                    <p>Estamos para servirte. que bueno que te gusto nuestro servicio</p>
                            </div>

                        </div>
                    </div>

            </div>

            <!-- Fin Comentarios Section -->




        </div>

    </div>

</div>


<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/fixto.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.rateyo.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>


<script>
    $( "#button-share" ).click(function() {
        $( "#button-share" ).hide();
        $( ".social-icons2" ).show();

    });

    $('.proveedor-fixed').fixTo('body');

    $('.variable-width').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        centerMode: true,

        variableWidth: true,
        adaptiveHeight: true

    });

    $( "#accordion" ).accordion({
        active: false,
        collapsible: true
    });

    var test = $("#rateYo").attr("data-rating");
    var color= "#b28500";
    $("#rateYo").rateYo({
        rating: test,
        ratedFill: color,
        normalFill: "#A0A0A0",
        readOnly: true
    });


    $( ".rateYo_comments" ).each(function( index ) {
        $(this).rateYo({
            rating: $(this).attr("data-rating"),
            starWidth: "20px",
            readOnly: true,
            ratedFill: color,
            normalFill: "#A0A0A0"
        });
    });
</script>

</body>



</html>
