{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block flashbag %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}" style="display: none;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock flashbag %}

{% block content %}

    <div class="register-after-background">

    </div>

    <div class="container check-page">
        <div class="animated animacion zoomIn">
            <img width="300px" src="{{ asset('images/confirmed.png') }}" alt="">
        </div>
        <div class="col-md-10 col-md-offset-1 text-check">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

            {#
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
            #}

            <a class="btn btn-entrar" href="{{ path('fos_user_profile_show') }}">Ahora puedes visitar Tu Perfil</a>

        </div>



        <div class="col-md-8 col-md-offset-2 text-check">
            <img src="{{ asset('images/logo_login.png') }}" alt="">
        </div>
    </div>




{% endblock content %}

{% block footer %}

{% endblock %}
