{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
    'attr': {novalidate: 'novalidate','class': 'fos_user_registration_register'}}) }}

<div class="container-fluid">
    {% set site = app.session.get('site') %}
    {% if site is null %}
        <a href="{{ path('selection_start')}}">
            <div id="atras">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
        </a>
    {% else %}
        <a href="{{ path('site_start',{'slug_site': site}) }}">
            <div id="atras">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
        </a>
    {% endif %}


    <div class="col-md-6  form-login">
        <div class="col-md-12 register-logo">
            <img src="{{ asset('images/register_logo.png') }}" alt="">
        </div>
        <!--
        <div class="facebook_button2">
            <a href="">
                <button class="btn btn-primary"><i class="fa fa-facebook" aria-hidden="true"></i> Registrarse con Facebook</button>
            </a>
        </div>
        -->
        <p style="padding-left: 15px">*Campos Obligatorios</p>
        <div class="col-md-6">

            <div class="form-group">

                {{ form_label(form.nombres,'* Nombres') }}
                {{ form_errors(form.nombres) }}
                {{ form_widget(form.nombres,{ 'attr': {'class': 'form-control','placeholder':'Carolina'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.apellidos,'* Apellidos') }}
                {% if form.apellidos.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.apellidos) }}</div>
                    </div>
                {% endif %}
                {{ form_widget(form.apellidos,{ 'attr': {'class': 'form-control','placeholder':'García'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.username,'* Nombre de Usuario') }}
                {% if form.username.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.username) }}</div>
                    </div>
                {% endif %}
                {{ form_widget(form.username,{ 'attr': {'class': 'form-control','placeholder':'Username'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email,'* Email') }}
                {% if form.email.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.email) }}</div>
                    </div>
                {% endif %}
                {{ form_widget(form.email,{ 'attr': {'class': 'form-control','placeholder':'Email'}}) }}
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.dni,'DNI') }}
                {% if form.dni.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.dni) }}</div>
                    </div>
                {% endif %}
                {{ form_widget(form.dni,{ 'attr': {'class': 'form-control','placeholder':'73226378'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.telefono,'Teléfono') }}
                {% if form.telefono.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.telefono) }}</div>
                    </div>
                {% endif %}
                {{ form_widget(form.telefono,{ 'attr': {'class': 'form-control','placeholder':'997574286'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first,'Contraseña') }}
                {% if form.plainPassword.first.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.plainPassword.first) }}</div>
                    </div>
                {% endif %}
                {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control','placeholder':'*******'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second,'Repita Contraseña') }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control','placeholder':'*******'}}) }}
            </div>


            <div>
                <input type="submit" id="go-register" class="btn btn-entrar" value="{{ 'registration.submit'|trans }}" />
            </div>


            {% if site is null %}

                <a href="{{ path('selection_start')}}">
                    <div class="btn btn-primary atras">Atrás</div>
                </a>
            {% else %}
                <a href="{{ path('site_start',{'slug_site': site}) }}">
                    <div class="btn btn-primary atras">Atrás</div>
                </a>
            {% endif %}

        </div>
    </div>
</div>




{{ form_end(form) }}

