{% extends 'dinner/layout.html.twig' %}
{% block title %}The Event Planner | Home{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_dinner.png') }}" alt="Party Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuDinner', [], {'image_title': 'tittle_dinner.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="placa">

    </div>

    <h1 id="test">Make it Happen</h1>
    <div class="nuevo-buscador ">
        <button id="dropdownMenu1" type="button" data-toggle="dropdown">
            <a style="display: block" href="#buscador">Dinos lo que necesitas <i class="fa fa-chevron-down chevron-{{ app.request.get('slug_site') }}" aria-hidden="true"></i></a>
        </button>

        <div class="dropdown-menu list_categorias-{{ app.request.get('slug_site') }}" aria-labelledby="dropdownMenu1">
            <ul>
                {% for c in categorias %}
                    <li><a href="{{ path('proveedores_category', {'slug_site': app.request.get('slug_site'),'slug_category': c.slug}) }}">{{ c.nombre }}</a></li>
                {% endfor %}

            </ul>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="buscador" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('images/dinner/portada_dinner_1.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/dinner/portada_dinner_2.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/dinner/portada_dinner_3.jpg') }}" />
                    </li>
                </ul>
            </div>
        </div>



    </div>

    <div class="container text-center descripcion">
        <div class="col-md-10 col-md-offset-1">
            <p>No hay nada como engreír a los que más quieres como se lo merecen. Contamos con especialistas en mesas de quesos, dulces, buffets y decoración para que tu Dinner salga tal cual te lo mereces. Atreverse depende de ti y recuerda que con un solo click puedes contactar a cualquier proveedor para empezar a hacer tu presupuesto totalmente personalizado. ¡Provecho!
            </p>
        </div>

    </div>


    <div class="container-fluid home-slicks">
        <div class="container">
            <div class="row">
                <h1 class="tittle-slicks">Proveedores Más Buscados</h1>
                <!--
                <h3 class="subtittle-slick">Esperando por tí</h3>
                -->
                <div class="slick_wedding">
                    {% for p in mejores_proveedores %}
                        <a href="{{ path('proveedor_detail', {'slug_site': 'dinner','slug_proveedor': p.proveedor.slug}) }}">
                            {% if p.proveedor.logo is not null %}
                                <img src="{{ vich_uploader_asset(p.proveedor.logo, 'logoFile','AppBundle\\Entity\\Logo') | imagine_filter('logo_thumb')}}" alt="{{ p.proveedor.nombre }}" />
                            {% else %}
                                <img src="{{ asset('images/logo_default.jpg') }}" alt="">
                            {% endif %}
                        </a>

                    {% endfor %}

                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid home-slicks2">
        <div class="container">
            <h1 class="tittle-slicks" style="margin-bottom: 20px">Nuestras Tendencias</h1>
            <div class="slick_wedding">
                {% for mi in mejores_inspiraciones %}
                    <a href="{{ path('inspiraciones_fotos',{'slug_site':'wedding','tendencia_slug':mi.inspiracion.tendencia.slug}) }}">
                        <img  src="{{ vich_uploader_asset(mi.inspiracion, 'imgFile') }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if ultimas_noticias is not null %}
        <div class="container-fluid news-list">
            <div class="container">
                <h1 class="tittle-slicks">The Event Planner Blog</h1>
                {% for un in ultimas_noticias %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a class="image-effect" href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}"><img src="{{ vich_uploader_asset(un.noticia, 'imgFile') }}" alt="..."></a>
                            <div class="caption">
                                <a href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}">
                                    <h3>{{ un.noticia.nombre }}</h3>
                                </a>
                                <p>{{ un.noticia.parafos[0].description| truncate(150)}}
                                </p>
                            </div>
                            <a style="color: #fff;" class="ver-mas-button btn btn-{{ app.request.get('slug_site') }}-entrar" href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ver Más</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {#<div class="container-fluid news-list">
        <div class="container">
            <h1 class="tittle-slicks" style="margin-bottom: 20px">The Event Planner Blog</h1>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a class="image-effect" href=""><img src="{{ asset('images/blog_dinner1.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Todo listo para una barbacoa en el jardín con amigos</h3>
                        </a>
                        <p>En este post les quiero mostrar la mesa que montamos con unos Palets para una "Hamburguesada" en una barbacoa que hicimos en el jardín de casa con amigos...
                            <a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_dinner2.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Un desayuno campestre: Inspiración e ideas para una mesa natural</h3>
                        </a>
                        <p>Tengo el Blog algo olvidado y es que estos últimos meses no me ha sido fácil escribir con el ritmo que estaba acostumbrada....<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_dinner3.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Decora tus bebidas este verano DIY</h3>
                        </a>
                        <p>Absolutamente genial este DIY de el Blog A Joyful Riot ! La nueva tendencia de decorar con globos y papel nos tiene chifladas...<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a   class="image-effect" href=""><img src="{{ asset('images/blog_dinner4.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Ideas originales para cocktails en una boda o fiesta</h3>
                        </a>
                        <p>Decorar una zona de bar en una boda o una fiesta de celebración para adultos de una forma original es muy divertido.<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>#}




{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.smoothscroll.min.js') }}"></script>
    <script>

        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            // some code..
        }else
        {
            $(function() {
                $('html').smoothScroll(500);
            });
        }

        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: true,
            prevText: "Previous",
            nextText: "Next"
        });

        $('.slick_wedding').slick({
            arrows: true,
            autoplay: true,
            infinite: true,
            speed: 300,

            slidesToShow: 4,
            slidesToScroll:1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        arrows: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });

    </script>

{% endblock %}
