{% extends 'dinner/layout.html.twig' %}
{% block title %}Proveedores{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}
{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/proveedores_dinner_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuDinner', [], {'image_title': 'proveedores_dinner_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}
{% block content %}
    {{ parent() }}


    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>



    <div class="container proveedor-detail-page">

        <div class="row">

            <div class="col-md-4 col-md-push-8 card-prov">
                <div class="proveedor-fixed">
                    {{ include('comun_includes/card-prov.html.twig')}}
                </div>
            </div>

            <div class="col-md-8 col-md-pull-4">

                <!-- Slider Section -->
                <div class="row slider-section">
                    {{ include('comun_includes/flexslider-detail.html.twig')}}
                </div>


                <!-- Fin Slider Section -->


                <!-- Description Section -->
                <hr>

                <h1 class="tittle-slicks2">{{ proveedor.nombre }}</h1>
                <p class="proveedor-content">
                    {{ proveedor.description |nl2br}}
                </p>
                <hr>
                <!-- Fin Descriptioin Section -->


                <!-- Google Section -->

                {% if map is defined %}
                    <h1 class="tittle-slicks2" style="margin-bottom: 20px">Ubícanos</h1>
                    {{ google_map(map) }}
                    <hr>
                {% endif %}


                <!-- Fin Google Section -->

                <!-- Preguntas Section -->
                {{ include('comun_includes/preguntas_frecuentes.html.twig')}}
                <!-- Fin Preguntas Section -->


                <!-- Comentarios Section -->
                <hr>
                <div class="comments-box2 comments-new">
                    <h4 class="title-heading tittle-slicks2">Comentarios <span>({{ comentarios|length }})</span></h4>
                    {% for p in comentarios %}

                        <div class="media comment">
                            <div class="media-left media-{{ app.request.get('slug_site') }}">
                                {% if p.user.profile is not null %}
                                    <img class="img-circle" width="50px" alt="user icon" src="{{ vich_uploader_asset(p.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                                {% else %}
                                    <img class="img-circle" width="50px"  alt="user icon" src="{{ asset('images/user_icon.png') }}">
                                {% endif %}
                            </div>
                            <div class="media-body media-body-{{ app.request.get('slug_site') }}">
                                <div>
                                    <h3>{{ p.titulo }}</h3>
                                    <small class="date">{{ p.adedAt|date("d F, Y") }}</small>
                                </div>
                                <div style="margin-top: 25px; margin-bottom: 5px" class="rateYo_comments" data-rating="{{ p.nota }}"></div>
                                <span>{{ p.user.nombres }} {{ p.user.apellidos }}</span>
                                <p style="margin-top: 0">
                                    {{ p.comentario }}
                                    {% if app.user is not null %}
                                        {% if myc is not null %}
                                            {% if myc.comentario == p.comentario %}
                                                <span class="edit-button">
                                                <a class="ajax-popup-link" href="{{ path('proveedor_me_edit_comentar', {'slug_site':app.request.get('slug_site'),'slug_proveedor':proveedor.slug}) }}">| Editar</a>
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </p>
                                <div class="col-md-11 respuesta">
                                    {% if p.respuesta is not null %}
                                        <p>{{ p.respuesta.respuesta }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <!-- Fin Comentarios Section -->
                {% block flashbag %}
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div data-coment="{{ flash }}" id="coment-alert"></div>
                        {% endfor %}
                    {% endfor %}
                {% endblock flashbag %}

                {% if app.user is not null %}
                    {% if myc is  null %}
                        <hr>
                        <h4 class="tittle-slicks2"  style="margin-bottom: 20px">Deja tu comentario</h4>
                    {% endif %}
                    <span class="text-forcomments">
                        <p>
                            {% if myc is not null %}

                            {% else %}
                                <a class="ajax-popup-link" href="{{ path('proveedor_me_comentar', {'slug_site':app.request.get('slug_site'),'slug_proveedor':proveedor.slug}) }}">Escribir una reseña</a>
                            {% endif %}
                        </p>
                    </span>
                {% else %}

                    <span  class="text-forcomments text-forcomments-{{ app.request.get('slug_site') }}">
                        <p>
                            <a href="{{ path('fos_user_registration_register') }}">Regístrate</a>
                            ó
                            <a class="ajax-popup-link" href="{{ path('fos_user_security_login') }}">Inicia Sessión</a>
                            para poder comentar
                        </p>
                    </span>

                {% endif %}


            </div>

        </div>

    </div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fixto.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.rateyo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/default_noty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script>


        $("#telefono").hide();
        $("#telefono-link").click(function(){
            $("#telefono-link").hide();
            $("#telefono").show();
        });
        $( "#button-share" ).click(function() {
            $( "#button-share" ).hide();
            $( ".social-icons2" ).show();

        });
        $( "#accordion" ).accordion({
            active: false,
            collapsible: true
        });
        $('.variable-width').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            variableWidth: true,
            adaptiveHeight: true

        });
        var coment_r = $("#coment-alert").attr("data-coment");
        if(coment_r!=undefined)
            noty({
                text: coment_r,
                'layout':'bottom',
                timeout:2000,
                type:'dinner',

            });
        var n = noty({
            theme: 'default_noty',
        });


        /*
         $('#carousel').flexslider({
         animation: "slide",
         controlNav: false,
         animationLoop: false,
         prevText: "Previous",
         nextText: "Next",
         slideshow: false,
         itemWidth: 210,
         itemMargin: 5,
         asNavFor: '#slider'
         });
         */

        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: true,
            slideshow: true,
            sync: "#carousel"
        });
        var RatePrin = $("#rateYo").attr("data-rating");

        var recuperar = $("#comentario_proveedor_nota").attr("value");



        var color= "#b28500";


        $("#rateYo").rateYo({
            rating: RatePrin,
            ratedFill: color,
            starWidth: "24px",
            spacing: "2px",
            normalFill: "#A0A0A0",
            readOnly: true
        });

        $("#rateYo2").rateYo({
                    rating: recuperar,
                    ratedFill: color,
                    normalFill: "#A0A0A0",
                    starWidth: "60px",
                    onChange: function (rating, rateYoInstance) {
                        $(this).next().text(rating);
                    }

                })
                .on("rateyo.set", function (e, data) {
                    $("#comentario_proveedor_nota").val(data.rating);
                    $("#rateYo2").rateYo("option", "readOnly", true);
                    $("#rateYo2").rateYo("option", "ratedFill", "#dea600");
                });


        $("#rateYo2").mouseleave(function(){
            $("#rateYo2").rateYo("option", "readOnly", false);
        });
        $("#rateYo2").mouseenter(function(){
            $("#rateYo2").rateYo("option", "ratedFill", color);
        });


        $( ".rateYo_comments" ).each(function( index ) {
            $(this).rateYo({
                rating: $(this).attr("data-rating"),
                starWidth: "20px",
                readOnly: true,
                ratedFill: color,
                normalFill: "#A0A0A0"
            });
        });

        $(window).on("orientationchange",function(){
            if(window.orientation == 0) // Portrait
            {
                $('.nofunciona').fixTo('body');
            }
            else // Landscape
            {
                $('.card-prov').fixTo('body');
            }
        });



    </script>
{% endblock %}