{% extends "FOSUserBundle::layout.html.twig" %}


{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_miperfil.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}
{% block content %}

    {% block main_title %}
        <div id="tittle_responsive" class="container">
            <div class="row">
                <div class="tittle_base">
                    <img src="{{ asset('images/tittle_miperfil.png') }}" alt="Proveedores Tittle">
                </div>
            </div>
        </div>
    {% endblock %}

    {{ parent() }}

    <div class="container-fluid portada-profile">
        <div class="container profile-detail">
            <div class="col-sm-4 col-xs-12">
                <img class="img-circle" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}" alt="User_foto">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-4 menu_profile">
            {{ knp_menu_render('AppBundle:Builder:menuProfile',{ 'template': 'knp_menu.html.twig'}) }}
        </div>
        <div class="col-md-8  profile-content">
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>

{% endblock content %}
