{% extends 'party/layout.html.twig' %}
{% block title %}The Event Planner | Home{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_party.png') }}" alt="Party Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuParty', [], {'image_title': 'tittle_party.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}

    <div class="placa">

    </div>

    <h1 id="test">Make it Happen</h1>
    <div class="nuevo-buscador ">
        <button id="dropdownMenu1" type="button" data-toggle="dropdown">
            <a style="display: block" href="#buscador">Dinos lo que necesitas <i class="fa fa-chevron-down chevron-{{ app.request.get('slug_site') }}" aria-hidden="true"></i></a>
        </button>

        <div class="dropdown-menu list_categorias-{{ app.request.get('slug_site') }}" aria-labelledby="dropdownMenu1">
            <ul>
                {% for c in categorias %}
                    <li><a href="{{ path('proveedores_category', {'slug_site': app.request.get('slug_site'),'slug_category': c.slug}) }}">{{ c.nombre }}</a></li>
                {% endfor %}

            </ul>
        </div>

    </div>



    <div class="container-fluid">
        <div class="row">
            <div id="buscador" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('images/party/portada_3.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/party/portada_2.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/party/portada_1.jpg') }}" />
                    </li>
                </ul>
            </div>
        </div>



    </div>

    <div class="container text-center descripcion">
        <div class="col-md-10 col-md-offset-1">
            <p>¡Los mejores dj’s de electrónica, pachanga y ochenteras están aquí! No te olvides de ver en la pestaña de inspiración todas las temáticas que tenemos para ti y claro, la hora loca viene con Star Wars, Circos e incluso puedes personalizarla al gusto del celebrado. Recuerda que la decoración y locación son esenciales para la diversión al igual que nuestros proveedores en bebidas alcohólicas y comida.
            </p>
        </div>
    </div>


    <div class="container-fluid home-slicks">
        <div class="container">
            <div class="row">
                <h1 class="tittle-slicks">Proveedores Más Buscados</h1>
                <!--
                <h3 class="subtittle-slick">Esperando por tí</h3>
                -->
                <div class="slick_wedding">
                    {% for p in mejores_proveedores %}
                        <a href="{{ path('proveedor_detail', {'slug_site': 'party','slug_proveedor': p.proveedor.slug}) }}">
                            {% if p.proveedor.logo is not null %}
                                <img src="{{ vich_uploader_asset(p.proveedor.logo, 'logoFile','AppBundle\\Entity\\Logo') | imagine_filter('logo_thumb')}}" alt="{{ p.proveedor.nombre }}" />
                            {% else %}
                                <img src="{{ asset('images/logo_default.jpg') }}" alt="">
                            {% endif %}
                        </a>

                    {% endfor %}

                </div>
            </div>

        </div>
    </div>


    <div class="container-fluid home-slicks2">
        <div class="container">
            <h1 class="tittle-slicks" >Nuestras Tendencias</h1>
            <div class="slick_wedding">
                {% for mi in mejores_inspiraciones %}
                    <a href="{{ path('inspiraciones_fotos',{'slug_site':'wedding','tendencia_slug':mi.inspiracion.tendencia.slug}) }}">
                        <img  src="{{ vich_uploader_asset(mi.inspiracion, 'imgFile') }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if ultimas_noticias is not null %}
        <div class="container-fluid news-list">
            <div class="container">
                <h1 class="tittle-slicks">The Event Planner Blog</h1>
                {% for un in ultimas_noticias %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a class="image-effect" href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}"><img src="{{ vich_uploader_asset(un.noticia, 'imgFile') }}" alt="..."></a>
                            <div class="caption">
                                <a href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}">
                                    <h3>{{ un.noticia.nombre }}</h3>
                                </a>
                                <p>{{ un.noticia.parafos[0].description| truncate(150)}}
                                </p>
                                <a style="color: #fff;" class="ver-mas-button btn btn-{{ app.request.get('slug_site') }}-entrar" href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ver Más</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

           </div>
        </div>
    {% endif %}

    {#<div class="container-fluid news-list">
        <div class="container">
            <h1 class="tittle-slicks">The Event Planner Blog</h1>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a class="image-effect" href=""><img src="{{ asset('images/blog_party1.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Ideas y consejos para decorar una fiesta para "Halloween"</h3>
                        </a>
                        <p>¿Quieres hacer una fiesta pero no estás seguro de cómo decorar? Las ideas para decorar una fiesta no son difíciles de proponer.
                            <a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_party2.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Ideas de comida para el menú de fiesta de adultos</h3>
                        </a>
                        <p>Las mejores ideas de menús para fiestas de adultos hacen aprovechar mejor tu presupuesto y complementan todo el estilo de la fiesta...<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_party3.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Fiesta Destacada de 40 años</h3>
                        </a>
                        <p>Hoy les traigo una tradición para incorporar una fiesta de 40 años super original…<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a   class="image-effect" href=""><img src="{{ asset('images/blog_4.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>10 tips sobre cómo elegir los regalos de fiesta ideales para los invitados</h3>
                        </a>
                        <p> ¿Cómo elegir los recuerdos de matrimonio? Los expertos te aconsejan y te dan a conocer las alternativas favoritas.<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
        </div>
    </div>#}




{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.smoothscroll.min.js') }}"></script>
    <script>

        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            // some code..
        }else
        {
            $(function() {
                $('html').smoothScroll(500);
            });
        }

        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: true,
            prevText: "Previous",
            nextText: "Next"
        });

        $('.slick_wedding').slick({
            arrows: true,
            autoplay: true,
            infinite: true,
            speed: 300,

            slidesToShow: 4,
            slidesToScroll:4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        arrows: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });


    </script>

{% endblock %}
