{% extends 'party/layout.html.twig' %}
{% block title %}Inspiraciones | Música{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_party_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuParty', [], {'image_title': 'tittle_party_inspiraciones.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
        <div class="container music-container-party" style="margin-top: 30px"> 
            {% for m in musicas %}
                <div class="col-md-4 col-xs-12">
                    <iframe src="{{ m.embedUrl }}" width="320" height="640" frameborder="0" allowtransparency="true"></iframe>
                    <div class="boton-share-music">
                        <a data-nombre="{{ m.nombre }}" data-src="{{ m.shareUrl }}"
                           href="javascript:void(0);" class="shareBtnFacebook">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </div>
                </div>

            {% endfor %}



        </div>
{% endblock %}
