{% trans_default_domain 'FOSUserBundle' %}

<div class="form-login2">
    <style>
        .olv-pass{
            display: inline-block;
            float: right;
        }
        .olv-pass a{
            font-size: 12px;
            color: #C50051;
            font-style: italic;
        }
        .form-login2 input{
            width: 100%;
            height: 30px;
            padding-left:10px;
            font-size: 14px;
            border:none;
            border-radius:0 ;
            border:solid 1px rgba(0,0,0,.2);
            margin-bottom: 5px;
        }

        .form-login2 label{
            color: #C70052;
            display: block;
            margin-bottom: 5px;
        }
        .form-login2 img{
            width: 100%;
        }
        .form-login2{
            position: relative;
            margin: 0 auto;
            width: 350px;
            background: #fff;
            padding: 20px;
            font-family: 'Lato', sans-serif;
        }
        .form-login2 label{
            color:#C70052;
        }
        #remember_me{
            width: auto;
            height: auto;
        }
        #remember_text{
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
        }
        .btn-registro{
            width: 100%;
            height: 35px;
            margin-top: 10px;
            background: #6CC6F0;
            border:none;
            border-radius: 0;
            color: #fff;
            font-size: 13px;
        }
        .btn-registro:hover{
            background: #A3DCF6;
            color: #fff;
        }
        .submit2{
            width: 100%;
            height: 35px;
            margin-top: 10px;
            background: #D12768;
            border: none;
            color: white;
            font-size: 13px;
        }
        .submit2:hover{
            background: #C70052;
            color: white;
        }
        .form-group{
            margin-bottom: 5px;
        }
    </style>
        <div class="logo_login">
            <img clas="img-responsive" src="{{ asset('images/register_logo.png') }}" alt="The Event Planner">
        </div>


        <form novalidate action="{{ path("fos_user_security_check") }}" method="post">
            {% for error in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger" role="alert">
                        <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ error }}</div>
                        <span class="sr-only">Error:</span>
                    </div>

            {% endfor %}
                {# if error
                    <div class="alert alert-danger" role="alert">
                        <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        <span class="sr-only">Error:</span>
                    </div>
                {% endif %}
                #}
            <!-- ajax error -->
            <div class="ajax-only alert alert-danger"  style="display: none" role="alert">
                <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="message-here"></span></div>
                <span class="sr-only">Error:</span>
            </div>
            <!-- end ajax error -->

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="email" id="username" name="_username" value="{{ last_username }}" required="required"  placeholder="Usuario">
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required"  placeholder="Contraseña">
            </div>


            <div class="form-group ">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label id="remember_text" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <div class="olv-pass">
                    <a href="{{ path('fos_user_resetting_request') }}">Olvidaste la contraseña</a>
                </div>
            </div>

            <div style="text-align: center">
                <button type="submit" class="submit2" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" >Entrar</button>
            </div>

        </form>

        <a href="{{ path('fos_user_registration_register') }}">
            <button class="btn btn-registro">
                Registrate
            </button>
        </a>

</div>



<script>
    if (typeof jQuery != 'undefined'){
        $( document ).ready(function() {
            $('#_submit').click(function(e){
                e.preventDefault();
                $.ajax({
                    type        : $('form').attr( 'method' ),
                    url         : $('form').attr( 'action' ),
                    data        : $('form').serialize(),
                    dataType    : "json",
                    success     : function(data, status, object) {
                        if (data.success == false) {
                            $('.message-here').html(data.message);
                            $('.ajax-only').show();
                        }
                        else {
                            window.location.href = data.targetUrl;
                        }
                    }
                });
            });
        });

    }


</script>
