{% extends "base.html.twig" %}

{% block body %}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '286482508388833',
                xfbml      : true,
                version    : 'v2.7'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script
            type="text/javascript"
            async defer
            src="//assets.pinterest.com/js/pinit.js"
    ></script>
    {% block flashbag %}
        {#

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        #}

    {% endblock flashbag %}


    {% block content %}

    <div class="container total-container">

            <nav class="navbar navbar-default">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse menu-principal">

                        {% block selloimage %}

                        {% endblock selloimage %}


                        {% block menuprincipal %}
                            {{ knp_menu_render('AppBundle:Builder:mainMenuWedding',{ 'template': 'knp_menu.html.twig'}) }}
                        {% endblock menuprincipal %}

                        {% block user_login %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div class="user-login-responsive">
                                    <div class="col-xs-8">
                                        <a href="{{ path('fos_user_profile_show') }}">
                                            <button type="button" class="user-login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {% if app.user.profile is not null %}
                                                    <img class="img-circle" width="40px" alt="user icon" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                                                {% else %}
                                                    <img class="img-circle" width="40px" alt="user icon" src="{{ asset('images/user_icon.png') }}">
                                                {% endif %}
                                                <span style="text-transform: capitalize">{{app.user.nombres}}</span>
                                            </button>
                                        </a>
                                    </div>



                                    <div class="col-xs-4">
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <button type="button" class="btn btn-entrar">
                                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                            </button>
                                        </a>
                                    </div>

                                </div>
                                <div class="btn-group btn-login btn_login_responsive">

                                    <button type="button" class="user-login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if app.user.profile is not null %}
                                            <img class="img-circle" width="40px" alt="user icon" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                                        {% else %}
                                            <img class="img-circle" width="40px" alt="user icon" src="{{ asset('images/user_icon.png') }}">
                                        {% endif %}
                                        <span>{{app.user.nombres}}</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-user">
                                        <div class="col-md-4">
                                            {% if app.user.profile is not null %}
                                                <img class="img-circle" width="90px" alt="user icon" src="{{ vich_uploader_asset(app.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                                            {% else %}
                                                <img class="img-circle" width="90px" alt="user icon" src="{{ asset('images/user_icon.png') }}">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8 named">
                                            <strong>{{app.user.nombres}} {{app.user.apellidos}}</strong>
                                            <br>
                                            {{app.user.email}}
                                            <br>
                                            <a href="{{ path('fos_user_profile_show') }}">
                                                <button type="button" class="btn btn-entrar">
                                                    Mi Perfil
                                                </button>
                                            </a>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <button type="button" class="btn btn-entrar">
                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                </button>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            {% else %}
                                {#
                                <ul class="principal nav navbar-nav navbar-right">
                                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                                </ul>
                                #}

                            {% endif %}
                        {% endblock user_login %}

                    </div>

            </nav>
    </div>

            <div class="negocios">
                <a href="{{ path('negocio_zona') }}">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp Área Proveedores
                </a>
            </div>



        {% if app.user is not null %}

        {% else %}
            <div class="boton-session">
                <a href="{{ path('fos_user_security_login') }}" class="ajax-popup-link">
                    <i class="fa fa-user" aria-hidden="true"></i> Iniciar Sesión
                </a>
            </div>
        {% endif %}


    {% endblock content %}



{% endblock body %}

{% block footer %}

    <div class="footer_principal">
        {{ include('comun_includes/footer.html.twig')}}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flip.min.js') }}"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <script>

        $(".two").flip({
            axis: 'y',
            trigger: 'manual',
            speed: 600,
            reverse: false
        });

        setInterval(function() {
            $('.two').flip('toggle');
        },3000);



        $(".menu-footer ul li:nth-child(6) a").attr("href", "#quienes");

        $(".menu-footer ul li:nth-child(6) a").addClass("popup-with-zoom-anim");

        $(".menu-footer ul li:nth-child(6) a").attr("data-effect","mfp-zoom-out");


    </script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script>
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 100,
            mainClass: 'mfp-zoom-out'
        });


        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82685418-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}