{% extends 'wedding/layout.html.twig' %}
{% block main_title %}

    <div class="container">
        <div class="row">
            <div class="tittle_weddings">
                <img src="{{ asset('images/proveedores_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container search">
        <div class="row ">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar...">
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                     </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
        </div>
    </div>
    <div class="container">
        <div class="proveedores row">

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/alissa.jpg') }}" alt="Alissa">
                        <div class="caption">
                            <h3>ALISSA</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/limosinas.jpg') }}" alt="Limosinas">
                        <div class="caption">
                            <h3>LIMOSINAS</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/flores.jpg') }}" alt="Flores">
                        <div class="caption">
                            <h3>FLORES</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/fotogrfia.jpg') }}" alt="Fotografia">
                        <div class="caption">
                            <h3>FOTOGRAFÍAS</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/buffet.jpg') }}" alt="Buffet">
                        <div class="caption">
                            <h3>BUFFET</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/invitaciones.jpg') }}" alt="Invitaciones">
                        <div class="caption">
                            <h3>INVITACIONES</h3>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>




    {{ dump(categorias[0]) }}
{% endblock %}
