
    <div class="leave-comment-box" style="background-color: #fff; padding: 20px 35px; width: 462px; margin: 0 auto;    position: relative;">

        <div class="row">

            <div class="proveedor_comments">

                <h1 class="tittle-slicks" style="margin-bottom: 20px">Escribe tu comentario</h1>

                {% if form is defined %}
                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

                    {% if form.vars.errors|length>0 %}
                        <div class="alert alert-danger" role="alert">
                            <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form) }}</div>
                        </div>
                    {% endif %}



                    <div class="rating-container" style="margin-top: 10px">
                        <div id="rateYo2"></div>
                    </div>

                    <div class="form-group" id="1">
                        {{ form_label(form.titulo,'Título') }}
                        {% if form.titulo.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.titulo) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.titulo,{ 'attr': {'class': 'form-control','placeholder':'Tu título','rows':'6'}}) }}
                    </div>
                    <div class="form-group" id="2">
                        {{ form_label(form.comentario,'Comentario') }}
                        {% if form.comentario.vars.errors|length>0 %}
                            <div class="alert alert-danger" role="alert">
                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.comentario) }}</div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.comentario,{ 'attr': {'class': 'form-control','placeholder':'Tu comentario','rows':'6'}}) }}
                    </div>

                    <div class="form-group" >
                        {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Enviar'}) }}
                        <!-- el boton submit No renderiza con esto-->
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.nota) }}

                    </div>
                    {{ form_end(form) }}


                {% endif %}


            </div>

        </div>

    </div>

    <script>
        if (typeof jQuery != 'undefined'){
            $( document ).ready(function() {
                $('#comentario_proveedor_submit').click(function(e){
                    $('#comentario_proveedor_submit').prop('disabled', true);
                    e.preventDefault();
                    $.ajax({
                        type        : $('form').attr( 'method' ),
                        url         : $('form').attr( 'action' ),
                        data        : $('form').serialize(),
                        dataType    : "json"

                    }).done(function(data) {
                        $('#comentario_proveedor_submit').prop('disabled', false);
                        $( "#2 label").after("<div class='alert alert-danger' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> " + data.errors.fields.comentario_proveedor_comentario + "</div>"  );
                        $( "#1 label").after("<div class='alert alert-danger' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> " + data.errors.fields.comentario_proveedor_titulo + "</div>"  );
                        $( "#rateYo2").before("<div class='alert alert-danger' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> " + data.errors.global + "</div>"  );

                    });
                });
            });

        }


        $("#rateYo2").rateYo({
                    rating: recuperar,
                    ratedFill: color,
                    normalFill: "#A0A0A0",
                    starWidth: "60px",
                    onChange: function (rating, rateYoInstance) {
                        $(this).next().text(rating);
                    }

                })
                .on("rateyo.set", function (e, data) {
                    $("#comentario_proveedor_nota").val(data.rating);
                    $("#rateYo2").rateYo("option", "readOnly", true);
                    $("#rateYo2").rateYo("option", "ratedFill", "#dea600");
                });


        $("#rateYo2").mouseleave(function(){
            $("#rateYo2").rateYo("option", "readOnly", false);
        });
        $("#rateYo2").mouseenter(function(){
            $("#rateYo2").rateYo("option", "ratedFill", color);
        });



    </script>
