{% extends 'FOSUserBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {#
    <div>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        <div>
            {{ form_label(form.name,'Nombre') }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

    </div>
    #}

{% endblock %}