{% extends 'wedding/layout.html.twig' %}
{% block title %}The Event Planner | Home{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/weddings_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'weddings_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}


    <div class="container-fluid">
        <div class="row">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('images/banner.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner2.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner3.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner4.jpg') }}" />
                    </li>
                </ul>
            </div>
        </div>



    </div>

    <div class="container text-center descripcion">
        <p>Lorem ipsum dolor sitw amet, consectetur adipiscing elit. Suspendisse vehicula vel ante nec convallis. Vivamus lobortis enim nec metus pharetra, eleifend consectetur elit accumsan Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse venenatis blandit eleifend. Etiam a semper justo, ut dapibus arcu.</p>
    </div>


    <div class="container-fluid home-slicks">
        <div class="container">
            <div class="row">
                <h1 class="tittle-slicks">Los Mejores Proveedores</h1>
                <h3 class="subtittle-slick">Esperando por tí</h3>
                <div class="slick_wedding">
                    {% for p in mejores_proveedores %}
                        <a href="{{ path('proveedor_detail', {'slug_site': 'wedding','slug_proveedor': p.proveedor.slug}) }}">
                            <img src="{{ vich_uploader_asset(p.proveedor.logo, 'logoFile','AppBundle\\Entity\\Logo')}}" alt="{{ p.proveedor.nombre }}" />
                        </a>

                    {% endfor %}

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid home-slicks2">
        <div class="container">
            <h1 class="tittle-slicks">Las Mejores Fotos</h1>
            <h3 class="subtittle-slick">Inspirate y haz inolvidable "Tu" día</h3>
            <div class="slick_wedding">

                {% for f in mejores_fotos %}
                    <a href="{{ path('proveedor_detail', {'slug_site': 'wedding','slug_proveedor': f.foto.proveedor.slug}) }}">
                        <img src="{{ vich_uploader_asset(f.foto, 'imgFile')|imagine_filter('thumb') }}" />
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script>
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: true,
            directionNav: true,
            prevText: "Previous",
            nextText: "Next"
        });

        $('.slick_wedding').slick({
            arrows: true,
            autoplay: true,
            infinite: false,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        arrows: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    </script>

{% endblock %}
