{% extends 'wedding/layout.html.twig' %}
{% block title %}The Event Planner | Home{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/weddings_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'weddings_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}

    <div class="placa">

    </div>

    <h1 id="test">Make it Happen</h1>
    <div class="nuevo-buscador ">
        <button id="dropdownMenu1" type="button" data-toggle="dropdown">
            <a style="display: block" href="#buscador">Dinos lo que necesitas <i class="fa fa-chevron-down chevron-{{ app.request.get('slug_site') }}" aria-hidden="true"></i></a>
        </button>

        <div class="dropdown-menu list_categorias-{{ app.request.get('slug_site') }}" aria-labelledby="dropdownMenu1">
                <ul>
                    {% for c in categorias %}
                        <li><a href="{{ path('proveedores_category', {'slug_site': app.request.get('slug_site'),'slug_category': c.slug}) }}">{{ c.nombre }}</a></li>
                    {% endfor %}

                </ul>
        </div>

    </div>


    {#
    <div class="buscadore">
        <a href="javascript:void(0)" id="dropdownMenu1" type="button" data-toggle="dropdown" class="cat-drop-{{ app.request.get('slug_site') }}">¿Qué Buscas? <i class="fa fa-search" aria-hidden="true"></i></a>

        <div class="dropdown-menu list_categorias-{{ app.request.get('slug_site') }}" aria-labelledby="dropdownMenu1">
                <ul>
                    {% for c in categorias %}
                        <li><a href="{{ path('proveedores_category', {'slug_site': app.request.get('slug_site'),'slug_category': c.slug}) }}">{{ c.nombre }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    #}



    <div  class="container-fluid">
        <div class="row">
            <div id="buscador" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('images/banner.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner2.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner3.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner4.jpg') }}" />
                    </li>
                </ul>
            </div>
        </div>



    </div>

    <div class="container text-center descripcion">
        <p>
            "El día más importante de tu vida tal cual lo soñaste.” En nuestra sección enfocada a matrimonios, podrás diseñar cada momento y espacio con los mejores proveedores del Perú. Te recomendamos la pestaña de inspiración para que empieces a crear tu board creativo de las ideas más hermosas que tenemos para ti. Recuerda tomarte el tiempo que quieras, aquí nadie te apura.
        </p>
    </div>


    <div class="container-fluid home-slicks">
        <div class="container">
            <div class="row">
                <h1 class="tittle-slicks">Proveedores Más Buscados</h1>
                <!--
                <h3 class="subtittle-slick">Esperando por tí</h3>
                -->
                <div class="slick_wedding">
                    {% for p in mejores_proveedores %}
                        <a href="{{ path('proveedor_detail', {'slug_site': 'wedding','slug_proveedor': p.proveedor.slug}) }}">
                            {% if p.proveedor.logo is not null %}
                                <img src="{{ vich_uploader_asset(p.proveedor.logo, 'logoFile','AppBundle\\Entity\\Logo') | imagine_filter('logo_thumb')}}" alt="{{ p.proveedor.nombre }}" />
                            {% else %}
                                <img src="{{ asset('images/logo_default.jpg') }}" alt="">
                            {% endif %}
                        </a>

                    {% endfor %}

                </div>
            </div>

        </div>
    </div>


     <div class="container-fluid home-slicks2">
        <div class="container">
            <h1 class="tittle-slicks" style="margin-bottom: 20px">Nuestras Tendencias</h1>
            <div class="slick_wedding">


                {% for mi in mejores_inspiraciones %}
                    <a href="{{ path('inspiraciones_fotos',{'slug_site':'wedding','tendencia_slug':mi.inspiracion.tendencia.slug}) }}">
                        <img  src="{{ vich_uploader_asset(mi.inspiracion, 'imgFile') }}" />
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>


    <div class="container-fluid news-list">
        <div class="container">
            <h1 class="tittle-slicks" style="margin-bottom: 20px">The Event Planner Blog</h1>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a class="image-effect" href=""><img src="{{ asset('images/blog_1.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Románticos diseños de ramos de novia con peonias 2017. ¡La mejor opción!</h3>
                        </a>
                        <p>¿Quieres saber por qué las peonias no deben faltar en tu boda? Aquí te decimos todo sobre ellas y te mostramos más de 20 herm
                            <a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_2.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>40 ideas de decoración de bodas al aire libre 2017. ¡Ideas para imponer!</h3>
                        </a>
                        <p>En el día más importante de tu vida tienes que plasmar una decoración de ensueño. Conoce esta galería con más de 20 ideas en ..<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_3.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>¡Cásate junto al mar! Decoración de boda en la playa 2017</h3>
                        </a>
                        <p>¡Las mejores ideas para inspirarte a tener una boda en la playa este 2017! Deja de lado lo convencional y anímate a casarte j..<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a   class="image-effect" href=""><img src="{{ asset('images/blog_4.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>10 tips sobre cómo elegir los regalos de matrimonio ideales para los invitados</h3>
                        </a>
                        <p> ¿Cómo elegir los recuerdos de matrimonio? Los expertos te aconsejan y te dan a conocer las alternativas favoritas.<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.smoothscroll.min.js') }}"></script>
    <script>

        $(function() {
            $('html').smoothScroll(500);
        });
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: true,
            directionNav: true,
            prevText: "Previous",
            nextText: "Next"
        });


        $('.slick_wedding').slick({
            arrows: true,
            autoplay: true,
            infinite: true,
            speed: 300,
            adaptiveHeight: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        arrows: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });


    </script>

{% endblock %}
