{% extends 'wedding/layout.html.twig' %}
{% block main_title %}

    <div class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
    {{ dump(inspiraciones) }}
    {# {{ dump(app.user.inspiraciones) }}#}
    {{ dump(app.request.get('slug_site')) }}

    <div class="container">
        <ul class="grid effect-6" id="grid">
            <li>
                <img src="{{ asset('images/wedding_gallery/400x250.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x640.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x300.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x250.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x640.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x300.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x250.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x640.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x300.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x250.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x640.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x300.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>

            <li>
                <img src="{{ asset('images/wedding_gallery/400x250.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x640.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x300.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>

            <li>
                <img src="{{ asset('images/wedding_gallery/400x250.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x640.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>
            <li>
                <img src="{{ asset('images/wedding_gallery/400x300.jpg') }}">
                <a href=""><i class="fa fa-heart-o heart" aria-hidden="true"></i></a>
            </li>


        </ul>

    </div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/imagesloaded.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/AnimOnScroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
{% endblock %}