{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones | Categorías{% endblock %}
{% block main_title %}

    <div class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('images/banner.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/banner.jpg') }}" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="proveedores row">
            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/tendencias.jpg') }}" alt="Tendencias">
                        <div class="caption">
                            <h3>TENDENCIAS</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="{{ path('inspiraciones_fotos', {'slug_site': 'wedding'}) }}">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/foto_proveedores.jpg') }}" alt="foto Proveedores">
                        <div class="caption">
                            <h3>FOTOS DE PROVEEDORES</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/videos_inspiraciones.jpg') }}" alt="Videos Inspiraciones">
                        <div class="caption">
                            <h3>VIDEOS</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/votos.jpg') }}" alt="Votos">
                        <div class="caption">
                            <h3>VOTOS</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href="{{ path('inspiraciones_music', {'slug_site': 'wedding'}) }}">
                    <div class="thumbnail">
                        <img class="filtroimg" src="{{ asset('images/filtro_weddings.png') }}" alt="filter">
                        <img src="{{ asset('images/musica_inspiraciones.jpg') }}" alt="Canciones">
                        <div class="caption">
                            <h3>CANCIONES</h3>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>



{% endblock %}
