{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones | Tendencias{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_inspiraciones.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container container-sin">

        <div class="no-exist">
            {% if tendencias|length == 0 %}
                <h1>¡Oh no!</h1>
                <p>Por el momento no existen tendencias en esta sección.</p>
            {% endif %}
        </div>

        <section id="demo">
            {% for t in tendencias  %}
                {{ include('comun_includes/tendencias_list.html.twig')}}
            {% endfor %}

        </section>

         
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pinterest_grid.js') }}"></script>

    <script>
        $('#demo').pinterest_grid({
            no_columns: 3,
            padding_x: 10,
            padding_y: 10,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });
        $( ".shareBtnFacebook" ).click(function() {
            FB.ui({
                method: 'share',
                href: $(this).attr('data-src'),
            }, function(response){});
        });
        $( ".pinterest" ).click(function() {
            PinUtils.pinOne({
                media: $(this).attr('data-src'),
                description:$(this).attr('data-description'),
                url:$(this).attr('data-url')
            });
        });
    </script>
{% endblock %}


