{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones | Fotos de Proveedores{% endblock %}

{% block main_title %}

    <div class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
    {#
     {{ dump(fotos_proveedores) }}
    {{ dump(fotos_proveedores.params.page) }}
    #}

        <div class="container"> 
            <div class="row">

                {% for fp in fotos_proveedores  %}
                    <div class="col-md-4 fotos_master popup-gallery">
                        {% if app.user is not null %}
                            {% set me_gusta = 0 %}
                            {% for fu in app.user.fotos %}
                                {% if fu.foto.id==fp.id %}
                                    {% set me_gusta = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if me_gusta==1 %}
                                <div class="boton-megusta">
                                    <a href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                    {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% else %}
                                <div class="boton-megusta">
                                    <a href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                    {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="boton-megusta">
                                <a class="ajax-popup-link" href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% endif %}
                        <a class="popup_proveedores" href="{{ vich_uploader_asset(fp, 'imgFile')}}"  title="{{ fp.proveedor.nombre }}">
                            <img src="{{ vich_uploader_asset(fp, 'imgFile')}}" alt="">
                        </a>
                    </div>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(fotos_proveedores,'foundation_v5_pagination.html.twig') }}
                </div>

            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.popup-gallery').magnificPopup({
            delegate: 'a.popup_proveedores',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0,1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function(item) {
                    return item.el.attr('title') + '<small></small>';
                }
            }
        });

    </script>

{% endblock %}


