{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones | Tendencias{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_inspiraciones.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container container-sin">
        <div class="no-exist">
            {% if tendencias|length == 0 %}
                <h1>¡Oh no!</h1>
                <p>Por el momento no existen tendencias en esta sección.</p>
            {% endif %}
        </div>
        <section id="demo">
            {% for t in tendencias  %}
                <a href="{{ path('inspiraciones_fotos',{'slug_site': app.request.get('slug_site'),"tendencia_slug":t.slug}) }}">
                    <article class="white-panel">
                        <img src="{{ asset('images/tendencias/'~t.img) }}" alt="">
                        <div class="boton-share-tendencias">
                            <a data-src="" href="javascript:void(0);" class="shareBtnFacebook">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a data-src="" href="javascript:void(0);">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                        </div>
                        <h1><a href="{{ path('inspiraciones_fotos',{'slug_site': app.request.get('slug_site'),"tendencia_slug":t.slug}) }}">{{ t.nombre }}</a></h1>
                        <p>"{{ t.description }}"</p>
                    </article>
                </a>
            {% endfor %}

        </section>

         
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pinterest_grid.js') }}"></script>

    <script>
        $('#demo').pinterest_grid({
            no_columns: 3,
            padding_x: 10,
            padding_y: 10,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });

    </script>
{% endblock %}


