{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones | Fotos de Proveedores{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_inspiraciones.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    {#
     {{ dump(fotos_proveedores) }}
    {{ dump(fotos_proveedores.params.page) }}
    #}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
        <div class="container container-sin"> 
            <div class="no-exist">
                {% if fotos_proveedores|length == 0 %}
                    <h1>¡Oh no!</h1>
                    <p>Por el momento no existen fotos de proveedores en esta sección.</p>
                {% endif %}
            </div>

            <ul class="grid effect-1" id="grid">
                {% for fp in fotos_proveedores  %}
                    <li>
                        {% if app.user is not null %}
                            {% set me_gusta = 0 %}
                            {% for fu in app.user.fotos %}
                                {% if fu.foto.id==fp.id %}
                                    {% set me_gusta = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if me_gusta==1 %}
                                <div class="boton-megusta_wedding">
                                    <a href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                    {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% else %}
                                <div class="boton-megusta_wedding">
                                    <a href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                    {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="boton-megusta_wedding">
                                <a class="ajax-popup-link" href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% endif %}
                        <a class="popup_proveedores" href="{{ path('proveedor_detail', {'slug_site': 'wedding','slug_proveedor': fp.proveedor.slug}) }}"  title="{{ fp.proveedor.nombre }}">
                            <img src="{{ vich_uploader_asset(fp, 'imgFile')}}" alt="">
                        </a>

                    </li>
                {% endfor %}

            </ul>

            <div class="navigation-wedding">
                {{ knp_pagination_render(fotos_proveedores,'foundation_v5_pagination.html.twig') }}
            </div>


        </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/imagesloaded.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/AnimOnScroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
{% endblock %}
