
{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones | Votos{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_inspiraciones.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container">
        <section id="demo">
            {% for v in votos  %}
                <article class="white-panel">
                    <h1><a class="popup-with-zoom-anim" href="{{ '#small-dialog'~v.id }}">{{ v.nombre }}</a></h1>
                    {% if app.user is not null %}
                        {% set me_gusta = 0 %}
                        {% for fu in app.user.votos  %}
                            {% if fu.voto.id==v.id %}
                                {% set me_gusta = 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if me_gusta==1 %}
                            <div class="votosgusta">
                                <a href="{{ path('voto_me_gusta',
                                {'slug_site': app.request.get('slug_site'),"id":v.id}) }}">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% else %}
                            <div class="votosgusta">
                                <a href="{{ path('voto_me_gusta',
                                {'slug_site': app.request.get('slug_site'),"id":v.id}) }}">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="votosgusta">
                            <a class="ajax-popup-link" href="{{ path('voto_me_gusta',
                            {'slug_site': app.request.get('slug_site'),"id":v.id}) }}">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% endif %}
                    <p >"{{ v.description }}"</p>
                    <div id="{{ 'small-dialog'~v.id }}"  class="popupvoto col-md-4 col-md-offset-4 white-popup mfp-hide">
                        <h1>{{ v.nombre }}</h1>
                        <p >"{{ v.description }}"</p>
                    </div>
                </article>


            {% endfor %}


        </section>

         
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pinterest_grid.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $('#demo').pinterest_grid({
            no_columns: 4,
            padding_x: 10,
            padding_y: 10,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    </script>
{% endblock %}

