{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones{% endblock %}
{% block metaFacebook %}
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ inspiraciones[0].tendencia.nombre }}" />
    <meta property="og:description"   content="{{ inspiraciones[0].tendencia.description |nl2br }}" />
    <meta property="og:image"         content="{{ app.request.getUriForPath(vich_uploader_asset(inspiraciones[0].tendencia, 'imgFile' ))}}" />
    <meta property="fb:app_id"        content="286482508388833">
    <meta property="og:url"           content={{ app.request.uri }}>
{% endblock %}
{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_inspiraciones.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container" style="text-align: center">


        <ul class="grid effect-1" id="grid">
            {% for ifa in inspiraciones %}
                {{ include('comun_includes/inspiraciones_fotos.html.twig',{ 'inspiraciones':'ifa'})}}
            {% endfor %}

        </ul>

    </div>




    {% if tendencia.sources|length >0 %}
        <div class="container">
            <strong>Fuentes: </strong>
            {% for sour in tendencia.sources %}
                <span class="sour sources-{{ app.request.get('slug_site') }}">
                    <a href="{{ sour.url }}">{{ sour.nombre }}</a>
                </span>
            {% endfor %}

        </div>
    {% endif %}


    {% if tendencia.linksCategorias |length >0 %}
        <div class="container inspiraciones_vermas_{{ app.request.get('slug_site') }} ">
            Encuentra más proveedores de :
            {% for ts in  tendencia.linksCategorias %}
                <span class="sour-link-{{ app.request.get('slug_site') }}">
                    <a href="{{ ts.url }}"><strong>{{ ts.nombre }}</strong></a>
                </span>
            {% endfor %}
        </div>
    {% endif %}







{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/imagesloaded.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/AnimOnScroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );

        $( ".shareBtnFacebook" ).click(function() {
            FB.ui({
                method: 'feed',
                link: "{{ app.request.uri }}",
                picture: $(this).attr('data-src'),
                title: $(this).attr('data-name'),

            }, function(response){});
        });

        $( ".pinterest" ).click(function() {
            PinUtils.pinOne({
                media: $(this).attr('data-src'),
                description:$(this).attr('data-description')
            });
        });
    </script>
{% endblock %}