{% extends 'wedding/layout.html.twig' %}
{% block title %}Inspiraciones{% endblock %}
{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_inspiraciones.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_inspiraciones.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container">

        <h1 class="title-tendencias" >{{ inspiraciones[1].tendencia.nombre }}</h1>
        <ul class="grid effect-1" id="grid">
            {% for ifa in inspiraciones %}
                <li>
                    <img  src="{{ asset('images/inspiraciones/'~ifa.img) }}">
                    {% if app.user is not null %}
                        {% set me_gusta = 0 %}
                        {% for fu in app.user.inspiraciones  %}
                            {% if fu.inspiracion.id==ifa.id %}
                                {% set me_gusta = 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if me_gusta==1 %}
                            <div class="boton-megusta_wedding">
                                <a href="{{ path('inspiracion_me_gusta',
                                {'slug_site': app.request.get('slug_site'),"id":ifa.id}) }}">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="boton-share-default">
                                <a data-src="{{ app.request.getUriForPath(asset('images/inspiraciones/'~ifa.img))}}"
                                   href="javascript:void(0);" class="shareBtnFacebook">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </div>
                        {% else %}
                            <div class="boton-megusta_wedding">
                                <a href="{{ path('inspiracion_me_gusta',
                                {'slug_site': app.request.get('slug_site'),"id":ifa.id}) }}">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="boton-share-default">
                                <a data-src="{{ app.request.getUriForPath(asset('images/inspiraciones/'~ifa.img))}}"
                                   href="javascript:void(0);" class="shareBtnFacebook">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </div>
                        {% endif %}

                    {% else %}
                        <div class="boton-megusta_wedding">
                            <a class="ajax-popup-link" href="{{ path('inspiracion_me_gusta',
                            {'slug_site': app.request.get('slug_site'),"id":ifa.id}) }}">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="boton-share-default">
                            <a data-src="{{ app.request.getUriForPath(asset('images/inspiraciones/'~ifa.img))}}"
                               href="javascript:void(0);" class="shareBtnFacebook">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>

                    {% endif %}
                </li>
            {% endfor %}

        </ul>

    </div>

    {% if tendencia.masNombre is not null and tendencia.masUrl is not null %}
        <div class="container inspiraciones_vermas_{{ app.request.get('slug_site') }}">
            <hr>
                Encuentra más proveedores de : <a href="{{ tendencia.masUrl }}"><strong> {{ tendencia.masNombre }}</strong></a>
            <hr>
        </div>
    {% endif %}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/imagesloaded.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/AnimOnScroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/modernizr.custom.js') }}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );

        $( ".shareBtnFacebook" ).click(function() {
            FB.ui({
                method: 'feed',
                link: "{{ app.request.uri }}",
                picture: $(this).attr('data-src'),
                title: $(this).attr('data-name'),

            }, function(response){});
        });
    </script>
{% endblock %}