{% extends 'wedding/layout.html.twig' %}
{% block title %}Blog {% endblock %}

{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_blog.png') }}" alt="Blog Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_blog.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}

    <div class="container news-blog">
        <div class="col-md-8 new-principal new-detalle">
            <a href="#"><img width="100%" src="{{ asset('images/mesa_flores.jpg') }}" alt=""></a>
            <h1>{{ noticia.nombre }}</h1>
            <span>{{ noticia.adedAt|date("d F, Y") }} </span>
            <span><i class="fa fa-comments" aria-hidden="true"></i> Comentarios (0)</span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes (0)</span>
            <br>
            <br>
            {% for p in noticia.parafos %}
                <p>{{ p.description }}</p>
                <img width="400px" style="margin-bottom: 20px" src="{{ vich_uploader_asset(p, 'imgFile') }}" alt=""/>
            {% endfor %}


        </div>

        <div class="col-md-4 news-relacionadas ">
            <h1>Noticias Relacionadas</h1>
            <div class="row">
                <a style="border-bottom: solid 1px #000" href="#" class="news-rel">
                    <div class="col-md-6">
                        <img  width="100%" src="{{ asset('images/manos.jpg') }}" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2 class="title-{{ app.request.get('slug_site') }}">Ritual Unión de Manos</h2>
                        <p>28 Julio, 2016 </p>
                        <p><i class="fa fa-comments" aria-hidden="true"></i> Comentarios (0)</p>
                        <p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes (0)</p>
                    </div>
                </a>
            </div>
            <hr>
            <div class="row">
                <a style="border-bottom: solid 1px #000" href="#" class="news-rel">
                    <div class="col-md-6">
                        <img  width="100%" src="{{ asset('images/tips.jpg') }}" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2 class="title-{{ app.request.get('slug_site') }}">10 tips sobre cómo elegir los regalos de matrimonio ideales para los invitados</h2>
                        <p>28 Julio, 2016 </p>
                        <p><i class="fa fa-comments" aria-hidden="true"></i> Comentarios (0)</p>
                        <p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes (0)</p>
                    </div>
                </a>
            </div>
            <hr>
            <div class="row">
                <a style="border-bottom: solid 1px #000" href="#" class="news-rel">
                    <div class="col-md-6">
                        <img  width="100%" src="{{ asset('images/boda_tematica.jpg') }}" alt="">
                    </div>
                    <div class="col-md-6">
                        <h2 class="title-{{ app.request.get('slug_site') }}">Casarse con una "Boda Temática"</h2>
                        <p>28 Julio, 2016 </p>
                        <p><i class="fa fa-comments" aria-hidden="true"></i> Comentarios (0)</p>
                        <p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes (0)</p>
                    </div>
                </a>
            </div>



        </div>




    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fixto.min.js') }}"></script>
    <script>
        $('.news-relacionadas').fixTo('body');
    </script>
{% endblock %}
