{% extends 'wedding/layout.html.twig' %}
{% block title %}Blog {% endblock %}

{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_blog.png') }}" alt="Blog Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_blog.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container news-blog" >
        <div class="col-md-8 col-md-offset-2 new-principal">
            <a href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': noticias[0].noticia.slug}) }}">
                <img width="100%" src="{{ vich_uploader_asset(noticias[0].noticia, 'imgFile') }}" alt="">
            </a>
            <div class="tittle-principal">
                <a href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': noticias[0].noticia.slug}) }}"><h1>{{ noticias[0].noticia.nombre }}</h1></a>
                <span>{{ noticias[0].noticia.adedAt|date("d F, Y") }}</span>
                <span><i class="fa fa-comments" aria-hidden="true"></i> Comentarios ({{ noticias[0].noticia.comentarios|length }})</span>
                <span><div class="fb-like"
                           data-href="{{ app.request.getUriForPath(path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': noticias[0].noticia.slug})) }}"
                           data-layout="button_count"
                           data-action="like"
                           data-show-faces="false">
                    </div></span>
                <span><div class="fb-share-button"
                           data-href="{{ app.request.getUriForPath(path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': noticias[0].noticia.slug})) }}"
                           data-layout="button">
                    </div></span>
            </div>


            <hr>
        </div>

        {% for n in noticias[1:] %}
            <div class="col-md-8 col-md-offset-2">
                <div class="row new">
                    <div class="col-md-5 col-xs-5 col-sm-5 foto-new">
                        <a href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': n.noticia.slug}) }}">
                            <img src="{{ vich_uploader_asset(n.noticia, 'imgFile') }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-7 col-xs-7 col-sm-7">
                        <a class="titulo-noti-{{ app.request.get('slug_site') }}" href=""><h1>{{ n.noticia.nombre }}</h1></a>
                        <span>{{ n.noticia.adedAt|date("d F, Y") }}</span>
                        <span><i class="fa fa-comments" aria-hidden="true"></i> Comentarios ({{ n.noticia.comentarios|length }})</span>
                        <span><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes (0)</span>
                        <p>{{ n.noticia.parafos[0].description }}</p>
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}


    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
