{% extends 'wedding/layout.html.twig' %}
{% block title %}Blog {% endblock %}

{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_blog.png') }}" alt="Blog Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_blog.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}


    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>

    <div class="container news-blog" >


        {{ include('comun_includes/noticias_comun.html.twig')}}
    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
        $( ".shareBtnFacebook" ).click(function() {
            FB.ui({
                method: 'share',
                mobile_iframe: true,
                href: $(this).attr('data-href')
            }, function(response){});
        });
    </script>
{% endblock %}
