{% extends 'wedding/layout.html.twig' %}
{% block title %}Blog {% endblock %}
{% block metaFacebook %}
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ noticia.nombre }}" />
    <meta property="og:description"   content="{{ noticia.parafos[0].description |nl2br }}" />

    <meta property="og:image"         content="{{ app.request.getUriForPath(vich_uploader_asset(noticia, 'imgFile' ))}}" />


    <meta property="fb:app_id"        content="286482508388833">
    <meta property="og:url"           content={{ app.request.uri }}>
{% endblock %}


{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_blog.png') }}" alt="Blog Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_blog.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container news-blog" style="margin-top: 70px">
        <div class="col-md-8 new-principal new-detalle">
            <!-- Your share button code -->
            <div class="fb-share-button"
                 data-href="{{ app.request.uri }}"
                 data-layout="button">
            </div>
            <div class="fb-like"
                 data-href="{{ app.request.uri }}"
                 data-layout="button_count"
                 data-action="like"
                 data-show-faces="false">
            </div>
            <a href="#"><img width="100%" src="{{ asset('images/mesa_flores.jpg') }}" alt=""></a>
            <h1>{{ noticia.nombre }}</h1>
            <span>{{ noticia.adedAt|date("d F, Y") }} </span>
            <span><i class="fa fa-comments" aria-hidden="true"></i> Comentarios (0)</span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes (0)</span>
            <br>
            <br>
            {% for p in noticia.parafos %}
                <p>{{ p.description }}</p>
                <img width="400px" style="margin-bottom: 20px" src="{{ vich_uploader_asset(p, 'imgFile') }}" alt=""/>
            {% endfor %}


        </div>

        <div class="col-md-4 news-relacionadas ">
            {{ render(controller('AppBundle:Blog:relatedNoticias',{'type': noticia.type,'id':noticia.id })) }}

        </div>




    </div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fixto.min.js') }}"></script>
    <script>
        $('.news-relacionadas').fixTo('body');
    </script>
{% endblock %}
