{% extends 'wedding/layout.html.twig' %}
{% block title %}Blog {% endblock %}
{% block metaFacebook %}
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ noticia.nombre }}" />
    <meta property="og:description"   content="{{ noticia.parafos[0].description |nl2br }}" />

    <meta property="og:image"         content="{{ app.request.getUriForPath(vich_uploader_asset(noticia, 'imgFile' ))}}" />


    <meta property="fb:app_id"        content="286482508388833">
    <meta property="og:url"           content={{ app.request.uri }}>
{% endblock %}


{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/tittle_blog.png') }}" alt="Blog Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'tittle_blog.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>


    {{ include('comun_includes/noticia_detail.html.twig', { 'noticia': noticia, 'slug_site':app.request.get('slug_site')})}}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fixto.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.smoothscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/default_noty.js') }}"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
        $( ".shareBtnFacebook" ).click(function() {
            FB.ui({
                method: 'share',
                mobile_iframe: true,
                href: '{{ app.request.uri }}'
            }, function(response){});
        });
        $('.news-relacionadas').fixTo('body');

        $(function() {
            $('html').smoothScroll(500);
        });


        var coment_r = $("#coment-alert").attr("data-coment");
        if(coment_r!=undefined)
            noty({
                text: coment_r,
                'layout':'bottom',
                timeout:2000,
                type:'wedding'

            });
        var n = noty({
            theme: 'default_noty'
        });


    </script>
{% endblock %}
