{% extends 'wedding/layout.html.twig' %}
{% block title %}Proveedores{% endblock %}
{% block main_title %}

    <div class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/proveedores_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <div class="flexslider2">
                    <ul class="slides">
                        <li data-thumb="http://placehold.it/198x120">
                            <img src="http://placehold.it/750x450" />
                        </li>
                        <li data-thumb="http://placehold.it/198x120">
                            <img src="http://placehold.it/750x450" />
                        </li>
                        <li data-thumb="http://placehold.it/198x120">
                            <img src="http://placehold.it/750x450" />
                        </li>
                        <li data-thumb="http://placehold.it/198x120">
                            <img src="http://placehold.it/750x450" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <div class="proveedor-info">
                    <img src="{{ vich_uploader_asset(proveedor.logo, 'logoFile') }}" alt="{{ proveedor.nombre }}" />

                    <div id="rateYo"></div>

                    <a href="mailto:javierdia91@gmail.com"><button type="button" class="btn btn-coti">Contactar Empresa</button></a>
                    <br>
                    <p>{{ proveedor.direccion }}, {{ proveedor.distrito }} - {{ proveedor.departamento }}</p>
                    <div class="links-proveedores lweddings">
                        <a href="{{ proveedor.web }}">Página Web</a>
                        <a href="tel:{{ proveedor.telefono }}">Teléfono</a>
                    </div>
                </div>
                <div class="proveedor-social sweddings">
                        <a class="favorite-button" href=""><i class="fa fa-heart-o" aria-hidden="true"></i> Favorito</a>
                        <ul>
                            <li ><a style="color:#3b5998" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li ><a style="color:#cd2027" href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                            <li ><a style="color:#55acee" href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li ><a style="color:#000" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                </div>

            </div>
        </div>

        <p class="proveedor-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula vel ante nec convallis. Vivamus lobortis enim nec metus pharetra, eleifend consectetur elit accumsan. Aliquam faucibus mattis nunc eu tempor. Integer euismod diam in fermentum convallis. Vivamus condimentum convallis odio, eget euismod nulla molestie eu. Maecenas id viverra sapien. Vivamus tincidunt tincidunt hendrerit. Nullam sit amet eros a turpis commodo suscipit ut vitae diam. Nunc placerat felis diam, eu tempor est consectetur convallis. Aliquam erat volutpat. Curabitur vitae dapibus purus. Sed rhoncus auctor elit, non pellentesque ex luctus iaculis. Pellentesque velit diam, dignissim in viverra a, ullamcorper vel sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse venenatis blandit eleifend. Etiam a semper justo, ut dapibus arcu.</p>

        <div class="rating-principal">

        </div>
        <div id="rateYo2"></div>


        <div class="comments-box">
            <h4 class="title-heading">COMMENTS <span>(3)</span></h4>

            <div class="media comment">
                <div class="media-left">
                    <a href="#">
                        <img class="img-circle" alt="" src="http://placehold.it/100x100">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">Post By : <span>Jonny Doel</span><small class="date">Feb 24, 2015</small>
                    </h5>
                    We create video templates with After effect, video display, video promotion promo, slideshow, and all about video. We trust, good video is good marketing.
                </div>
            </div>
            <div class="media reply-comment">
                <div class="media-left">
                    <a href="#">
                        <img class="img-circle" alt="" src="http://placehold.it/100x100">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">Post By : <span>Jonny Doel</span><small class="date">Feb 24, 2015</small>
                    </h5>
                    We create and design a website templates with Adobe Muse. We give the best for our template with clean design, neat and content useful.
                </div>
            </div>
            <div class="media comment">
                <div class="media-left">
                    <a href="#">
                        <img class="img-circle" alt="" src="http://placehold.it/100x100">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">Post By : <span>Jonny Doel</span><small class="date">Feb 24, 2015</small>
                    </h5>
                    We create video templates with After effect, video display, video promotion promo, slideshow, and all about video. We trust, good video is good marketing.
                </div>
            </div>

        </div>

        <div class="leave-comment-box">
            <h4 class="title-heading">LEAVE COMMENTS</h4>
            <form action="#" class="form-comment">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <input type="text" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <input type="text" id="name" name="name" value="" class="inputtext form-control" placeholder="Enter Email">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <textarea id="message" name="message" class="inputtext form-control" rows="6" placeholder="Enter Your Message..."></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <button id="send" type="submit" class="btn btn-default">SUBMIT COMMENT</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>


    {{ dump(proveedor) }}
    {{ dump(proveedor.comentariosProveedor) }}
    {{ dump(moy) }}

    {#
        <img src="{{ vich_uploader_asset(proveedor.fotos[0], 'imgFile')|imagine_filter('thumb') }}" />
    #}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {% if form is defined %}
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {% endif %}

{% endblock %}