{% extends 'FOSUserBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <img src="{{ vich_uploader_asset(proveedor, 'logoFile')|imagine_filter('thumb') }}" alt="{{ proveedor.nombre }}" />

    {{ dump(proveedor.comentariosProveedor) }}


    {#
        <img src="{{ vich_uploader_asset(proveedor.fotos[0], 'imgFile')|imagine_filter('thumb') }}" />
    #}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {% if form is defined %}
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {% endif %}

{% endblock %}