{% extends 'wedding/layout.html.twig' %}
{% block title %}Proveedores{% endblock %}
{% block metaFacebook %}
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ proveedor.nombre }}" />
    <meta property="og:description"   content="{{ proveedor.description |nl2br }}" />
    {#
        {% if proveedor.fotos|length > 0 %}
            <meta property="og:image"         content="{{ app.request.getUriForPath(vich_uploader_asset(proveedor.fotos[0], 'imgFile')) }}" />
        {% endif %}
    #}
    {% if proveedor.logo is not null %}
        <meta property="og:image"         content="{{ vich_uploader_asset(proveedor.logo, 'logoFile')|imagine_filter('logo_thumb') }}" />
    {% endif %}

    <meta property="fb:app_id"        content="286482508388833">
    <meta property="og:url"           content={{ app.request.uri }}>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}

{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/proveedores_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'proveedores_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}
{% block content %}
    {{ parent() }}

    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>

    <div class="container proveedor-detail-page">
        <div class="row">

            <div class="col-md-4 col-md-push-8 card-prov">
                <div class="proveedor-fixed">
                    {{ include('comun_includes/card-prov.html.twig')}}
                </div>
            </div>

            <div class="col-md-8 col-md-pull-4">

                <!-- Slider Section -->

                <div class="row slider-section">
                    {{ include('comun_includes/flexslider-detail.html.twig')}}
                </div>

                <!-- Fin Slider Section -->


                <!-- Description Section -->

                <hr>

                <h1 class="tittle-slicks2">{{ proveedor.nombre }}</h1>

                <p class="proveedor-content">
                    {{ proveedor.description |nl2br }}
                </p>

                <hr>

                <!-- Fin Descriptioin Section -->

                <!-- Google Section -->

                {% if map is defined %}
                    <h1 class="tittle-slicks2" style="margin-bottom: 20px">Ubícanos</h1>
                    {{ google_map(map) }}
                    <hr>
                {% endif %}

                <!-- Fin Google Section -->

                <!-- Preguntas Section -->

                {{ include('comun_includes/preguntas_frecuentes.html.twig')}}

                <!-- Fin Preguntas Section -->

                <!-- Comentarios Section -->
                <hr>
                <div class="comments-box2 comments-new">
                    <h4 class="title-heading tittle-slicks2">Comentarios <span>({{ comentarios|length }})</span></h4>
                    {% for p in comentarios %}

                        <div class="media comment">
                            <div class="media-left media-{{ app.request.get('slug_site') }}">
                                {% if p.user.profile is not null %}
                                    <img class="img-circle" width="50px" alt="user icon" src="{{ vich_uploader_asset(p.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                                {% else %}
                                    <img class="img-circle" width="50px"  alt="user icon" src="{{ asset('images/user_icon.png') }}">
                                {% endif %}
                            </div>
                            <div class="media-body media-body-{{ app.request.get('slug_site') }}">
                                <div>
                                    <h3>{{ p.titulo }}</h3>
                                    <small class="date">{{ p.adedAt|date("d F, Y") }}</small>
                                </div>
                                <div style="margin-top: 25px; margin-bottom: 5px" class="rateYo_comments" data-rating="{{ p.nota }}"></div>
                                <span>{{ p.user.nombres }} {{ p.user.apellidos }}</span>
                                <p style="margin-top: 0">{{ p.comentario }}</p>
                                <div class="col-md-11 respuesta">
                                    {% if p.respuesta is not null %}
                                        <p>{{ p.respuesta.respuesta }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <!-- Fin Comentarios Section -->


                {% block flashbag %}
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div data-coment="{{ flash }}" id="coment-alert"></div>
                        {% endfor %}
                    {% endfor %}
                {% endblock flashbag %}









                {% if app.user is not null %}

                    <h4 class="tittle-slicks2"  style="margin-bottom: 20px">Deja tu comentario</h4>
                    <span class="text-forcomments">
                        <p>
                            {% if myc is not null %}
                                <span>Gracias por tu Comentario</span>
                            {% else %}
                                <a class="ajax-popup-link" href="{{ path('proveedor_me_comentar', {'slug_site':app.request.get('slug_site'),'slug_proveedor':proveedor.slug}) }}">Escribir una reseña</a>
                            {% endif %}
                        </p>
                    </span>


                    {#
                     <div class="leave-comment-box">

                        <div class="row">

                            <div class="col-xs-12 col-md-12 proveedor_comments">
                                {% block flashbag %}
                                    {% for label, flashes in app.session.flashbag.all %}
                                    <!--<h4 class="title-heading">Escribe tu comentario</h4>-->
                                        {% for flash in flashes %}
                                            <div data-coment="{{ flash }}" id="coment-alert"></div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endblock flashbag %}

                                {% if form is defined %}
                                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

                                    {% if form.vars.errors|length>0 %}
                                        <div class="alert alert-danger" role="alert">
                                            <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form) }}</div>
                                        </div>
                                    {% endif %}



                                    <div class="rating-container" style="margin-top: 10px">
                                        <div id="rateYo2"></div>
                                        <div class="counter"></div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.titulo,'Título') }}
                                        {% if form.titulo.vars.errors|length>0 %}
                                            <div class="alert alert-danger" role="alert">
                                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.titulo) }}</div>
                                            </div>
                                        {% endif %}
                                        {{ form_widget(form.titulo,{ 'attr': {'class': 'form-control','placeholder':'Tu título','rows':'6'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.comentario,'Comentario') }}
                                        {% if form.comentario.vars.errors|length>0 %}
                                            <div class="alert alert-danger" role="alert">
                                                <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ form_errors(form.comentario) }}</div>
                                            </div>
                                        {% endif %}
                                        {{ form_widget(form.comentario,{ 'attr': {'class': 'form-control','placeholder':'Tu comentario','rows':'6'}}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Enviar'}) }}
                                        <!-- el boton submit No renderiza con esto-->
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(form.nota) }}

                                    </div>
                                    {{ form_end(form) }}


                                {% endif %}


                            </div>

                        </div>

                    </div>
                    #}


                {% else %}

                    <span  class="text-forcomments text-forcomments-{{ app.request.get('slug_site') }}">
                        <p>
                            <a href="{{ path('fos_user_registration_register') }}">Regístrate</a>
                            ó
                            <a class="ajax-popup-link" href="{{ path('fos_user_security_login') }}">Inicia Sessión</a>
                            para poder comentar
                        </p>
                    </span>

                {% endif %}


            </div>

        </div>

    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fixto.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.rateyo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/default_noty.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script>


        $( "#button-share" ).click(function() {
            $( "#button-share" ).hide();
            $( ".social-icons2" ).show();

        });

        $( "#shareBtnFacebook" ).click(function() {
            FB.ui({
                method: 'share',
                mobile_iframe: true,
                href: "{{ app.request.uri }}",
            }, function(response){});
        });

        $('.variable-width').slick({
            arrows:false,
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            variableWidth: true,
            adaptiveHeight: true

        });



        $( "#accordion" ).accordion({
            active: false,
            collapsible: true
        });


        var coment_r = $("#coment-alert").attr("data-coment");
        if(coment_r!=undefined)
            noty({
                text: coment_r,
                'layout':'bottom',
                timeout:2000,
                type:'wedding',

            });
        var n = noty({
            theme: 'default_noty',
        });


        /*
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            prevText: "Previous",
            nextText: "Next",
            slideshow: false,
            itemWidth: 210,
            itemMargin: 5,
            asNavFor: '#slider'
        });
        */


        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            smoothHeight:true,
            //itemWidth:750,
            animationLoop: true,
            slideshow: true,
            sync: "#carousel"
        });
        var RatePrin = $("#rateYo").attr("data-rating");

        var recuperar = $("#comentario_proveedor_nota").attr("value");



        var color= "#b28500";


        $("#rateYo").rateYo({
            rating: RatePrin,
            ratedFill: color,
            starWidth: "24px",
            spacing: "2px",
            normalFill: "#A0A0A0",
            readOnly: true,
        });




        $( ".rateYo_comments" ).each(function( index ) {
            $(this).rateYo({
                rating: $(this).attr("data-rating"),
                starWidth: "20px",
                readOnly: true,
                ratedFill: color,
                normalFill: "#A0A0A0"
            });
        });


        $('.card-prov').fixTo('body');
        /*
        $(window).on("orientationchange",function(){
            if (window.orientation !== 0) {
                $('.card-prov').fixTo('body');
            }else if (window.orientation == 0){ //cuando es diferente de cero
                $('.card-prov').fixTo('destroy');
            }
        });
        */

    </script>
{% endblock %}