{% extends 'wedding/layout.html.twig' %}
{% block title %}Proveedores{% endblock %}
{% block main_title %}

    <div class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/proveedores_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {{ parent() }}

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-md-push-8">
                <div class="proveedor-fixed">
                    <div class="proveedor-info">

                        <img src="{{ vich_uploader_asset(proveedor.logo, 'logoFile') }}" alt="{{ proveedor.nombre }}" />

                        <div id="rateYo"  data-rating="{{ moy }}"></div>

                        <a class="ajax-popup-link" href="{{ path('cotizacion_negocio',
                            {'slug_site': app.request.get('slug_site'),'slug_proveedor':proveedor.slug}) }}">
                            <button type="button" class="btn btn-coti">Contactar Empresa</button></a>
                        <br>
                        <p>{{ proveedor.direccion }}, {{ proveedor.distrito }} - {{ proveedor.departamento }}</p>
                        <div class="links-proveedores lweddings">
                            <a href="{{ proveedor.web }}">Página Web</a>
                            <a href="tel:{{ proveedor.telefono }}">Teléfono</a>
                        </div>
                    </div>
                    <div class="proveedor-social sweddings">
                        {% if app.user is not null %}

                            {% if favorito is not null%}
                                <a class="favorite-button" href="{{ path('proveedor_me_gusta', {'slug_site': 'wedding', 'slug_proveedor': proveedor.slug}) }}"><i class="fa fa-heart" aria-hidden="true"></i> Favorito</a>
                            {% else %}
                                <a class="favorite-button" href="{{ path('proveedor_me_gusta', {'slug_site': 'wedding', 'slug_proveedor': proveedor.slug}) }}"><i class="fa fa-heart-o" aria-hidden="true"></i> Favorito</a>
                            {% endif %}
                        {% endif %}


                        <ul>
                            <li ><a href="{{ proveedor.facebookLink  }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li ><a href="{{ proveedor.pinteresLink  }}"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                            <li ><a href="{{ proveedor.twitterLink  }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            <li ><a href="{{ proveedor.instagramLink  }}"><i class="fa fa-instagram-square" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="col-md-8 col-md-pull-4">

                <!-- Slider Section -->

                <div id="slider" class="flexslider">
                    <ul class="slides">
                        {% for f in proveedor.fotos  %}
                            <li data-thumb="{{ vich_uploader_asset(f, 'imgFile')|imagine_filter('thumb_fotos') }}">
                                <img src="{{ vich_uploader_asset(f, 'imgFile') }}" />
                                {% if app.user is not null %}
                                    {% set me_gusta = 0 %}
                                    {% for fu in app.user.fotos  %}
                                        {% if fu.foto.id==f.id %}
                                            {% set me_gusta = 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if me_gusta==1 %}
                                        <div class="boton-megusta">
                                            <a href="{{ path('proveedor_foto_me_gusta',
                                            {'slug_site': app.request.get('slug_site'),"slug_proveedor":proveedor.slug,"id":f.id}) }}">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="boton-megusta">
                                            <a href="{{ path('proveedor_foto_me_gusta',
                                            {'slug_site': app.request.get('slug_site'),"slug_proveedor":proveedor.slug,"id":f.id}) }}">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <div id="carousel" class="flexslider">
                    <ul class="slides flex-control-nav flex-control-thumbs">
                        {% for f in proveedor.fotos  %}
                            <li data-thumb="{{ vich_uploader_asset(f, 'imgFile')|imagine_filter('thumb_fotos') }}">
                                <img src="{{ vich_uploader_asset(f, 'imgFile') }}" />

                            </li>
                        {% endfor %}

                    </ul>
                </div>

                <!-- Fin Slider Section -->


                <!-- Description Section -->

                <p class="proveedor-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula vel ante nec convallis. Vivamus lobortis enim nec metus pharetra, eleifend consectetur elit accumsan. Aliquam faucibus mattis nunc eu tempor. Integer euismod diam in fermentum convallis. Vivamus condimentum convallis odio, eget euismod nulla molestie eu. Maecenas id viverra sapien. Vivamus tincidunt tincidunt hendrerit. Nullam sit amet eros a turpis commodo suscipit ut vitae diam. Nunc placerat felis diam, eu tempor est consectetur convallis. Aliquam erat volutpat. Curabitur vitae dapibus purus. Sed rhoncus auctor elit, non pellentesque ex luctus iaculis. Pellentesque velit diam, dignissim in viverra a, ullamcorper vel sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse venenatis blandit eleifend. Etiam a semper justo, ut dapibus arcu.</p>

                <!-- Fin Descriptioin Section -->


                <!-- Comentarios Section -->

                <div class="comments-box">
                    <h4 class="title-heading">Comentarios <span>({{ comentarios|length }})</span></h4>
                    
                    {% for p in comentarios %}
                        <div class="media comment">

                            <div class="media-body">
                                <h5 class="media-heading">
                                    <h3>{{ p.titulo }}</h3>
                                    <div class="rateYo_comments" data-rating="{{ p.nota }}"></div><span>{{ p.user }} - </span>
                                    <small class="date">{{ p.adedAt|date("d F, Y") }}</small>
                                </h5>
                                <p>{{ p.comentario }}</p>
                                <div class="col-md-11 respuesta">
                                    {% if p.respuesta is not null %}
                                        <p>{{ p.respuesta.respuesta }}</p>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Fin Comentarios Section -->

                {% if app.user is not null %}


                    <div class="leave-comment-box">

                        <div class="row">

                            <div class="col-xs-12 col-md-12">
                                {% block flashbag %}
                                    {% for label, flashes in app.session.flashbag.all %}
                                    <!--<h4 class="title-heading">Escribe tu comentario</h4>-->
                                        {% for flash in flashes %}
                                            <div data-coment="{{ flash }}" id="coment-alert"></div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endblock flashbag %}

                                {% if form is defined %}
                                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
                                    {{ form_errors(form) }}
                                    <div id="rateYo2"></div>

                                    <div class="form-group">
                                        {{ form_label(form.titulo,'Título') }}
                                        {{ form_errors(form.titulo) }}
                                        {{ form_widget(form.titulo,{ 'attr': {'class': 'form-control','placeholder':'Tu título','rows':'6'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.comentario,'Comentario') }}
                                        {{ form_errors(form.comentario) }}
                                        {{ form_widget(form.comentario,{ 'attr': {'class': 'form-control','placeholder':'Tu comentario','rows':'6'}}) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Enviar'}) }}
                                        <!-- el boton submit No renderiza con esto-->
                                    </div>
                                    {{ form_widget(form.nota) }}

                                    {{ form_end(form) }}


                                {% endif %}


                            </div>

                        </div>

                    </div>
                {% else %}

                    <span  class="text-forcomments">
                        <p>
                            <a href="{{ path('fos_user_registration_register') }}">Regístrate</a>
                            ó
                            <a class="ajax-popup-link" href="{{ path('fos_user_security_login') }}">Inicia Sessión</a>
                            para poder comentar
                        </p>
                    </span>

                {% endif %}


            </div>

        </div>

    </div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/fixto.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.rateyo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.noty.packaged.min.js') }}"></script>
    <script>
        var coment_r = $("#coment-alert").attr("data-coment");
        if(coment_r!=undefined)
            noty({text: coment_r,'layout':'bottom',type:'success',timeout:2000});

        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            prevText: "Previous",
            nextText: "Next",
            slideshow: false,
            itemWidth: 210,
            itemMargin: 5,
            asNavFor: '#slider'
        });

        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel"
        });
        var test = $("#rateYo").attr("data-rating");

        var test3 = $(".rateYo3").attr("data-rating3");

        var color= "#AA986B";


        $("#rateYo").rateYo({
            rating: test,
            ratedFill: color,
            normalFill: "#A0A0A0",
            readOnly: true
        });

        $("#rateYo2").rateYo({
                    ratedFill: color,
                    normalFill: "#A0A0A0",
                    starWidth: "60px"
                })
                .on("rateyo.set", function (e, data) {

                    $("#comentario_proveedor_nota").val(data.rating);

                });



        /*$(".rateYo3").rateYo({
         rating: test3,
         starWidth: "20px",
         readOnly: true,
         ratedFill: "#35b3b4"
         });*/

        $( ".rateYo_comments" ).each(function( index ) {
            $(this).rateYo({
                rating: $(this).attr("data-rating"),
                starWidth: "20px",
                readOnly: true,
                ratedFill: color,
                normalFill: "#A0A0A0"
            });
        });

        $('.proveedor-fixed').fixTo('body');
    </script>
{% endblock %}