{% extends 'wedding/layout.html.twig' %}
{% block title %}Proveedores{% endblock %}
{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/proveedores_tittle.png') }}" alt="Proveedores Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuWedding', [], {'image_title': 'proveedores_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}



{% block content %}
    {{ parent() }}
    {% set direction = proveedores.getDirection() %}
    <div class="container categorias-list-page">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <form class="filtros_proveedores" action="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" method="get" class="form_sort" id="myForm">
                    <select class="selectpicker" id="sort_list" name="sort">
                        <option {% if proveedores.isSorted('p.registeredAt') %} selected {% endif %} value="p.registeredAt">Fecha</option>
                        <option {% if proveedores.isSorted('p.nombre') %} selected {% endif %} value="p.nombre">Nombre</option>
                        <option {% if proveedores.isSorted('cp.nota') %} selected {% endif %} value="cp.nota">Popularidad</option>
                    </select>
                    <select class="selectpicker " id="sort_list" name="direction">
                        <option {% if direction=='desc' %} selected {% endif %} value="desc">Descendiente</option>
                        <option {% if direction=='asc' %} selected {% endif %} value="asc">Ascendente</option>
                    </select>
                    <input class="btn btn-wedding-entrar" type="submit" value="Filtrar">
                </form>
            </div>
        </div>


        <div class="proveedores2 row">
            <div class="no-exist">
                {% if proveedores|length == 0 %}

                    <h1>¡Oh no!</h1>
                    <p>Por el momento no existen proveedores en esta categoría.</p>
                {% endif %}
            </div>

            {% for p in proveedores %}
                <div class="col-sm-6 col-md-4">
                    <a href="{{ path('proveedor_detail', {'slug_site': 'wedding','slug_proveedor': p.proveedor.slug}) }}">
                        <div class="thumbnail">
                            <div class="card">
                                <div class="front">
                                    {#
                                    {% if loop.first %}
                                        <div class="liston">
                                            <img src="{{ asset('images/liston_wedding.png')}}" alt="wedding premium">
                                        </div>
                                    {% endif %}
                                    #}

                                    {% for f in p.proveedor.fotos  %}
                                        {% if f.isListado %}
                                            <div class="img-circle logo-circle">
                                                <img id="logo-circle" src="{{ asset('images/proveedores/logo/'~p.proveedor.logo.logoName)}}" alt="{{ p.proveedor.nombre }}">
                                            </div>
                                            <img src="{{ asset('images/proveedores/fotos/'~f.img)|imagine_filter('thumb_proveedor')}}" alt="{{ f.proveedor.nombre}}">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="back">
                                    {#
                                    {% if loop.first %}
                                        <div class="liston">
                                            <img src="{{ asset('images/liston_wedding.png')}}" alt="wedding premium">
                                        </div>
                                    {% endif %}
                                    #}
                                    <img width="60%" src="{{ asset('images/proveedores/logo/'~p.proveedor.logo.logoName)}}" alt="{{ p.proveedor.nombre }}">
                                </div>
                            </div>
                            <div class="caption">
                                <h3>{{ p.proveedor.nombre }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(proveedores,'foundation_v5_pagination.html.twig') }}
        </div>

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.flip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script>
            $(".card").flip({
                axis: 'y',
                trigger: 'hover',
                speed: 900,
                reverse: false
            });
            $('.selectpicker').selectpicker({
                style: 'btn btn-tittle',
                size: 4
            })
    </script>

{% endblock %}
