
<div class="col-md-4 col-md-offset-4 cotizacion-form-kids">
    <h1>Solicitar Cotización</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

    <div id="error-form">

    </div>

    <div class="form-group">
        {{ form_label(form.name,'Nombre: ') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name,{ 'attr': {'class': 'form-control','placeholder':'Tu nombre'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email,'Email:') }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email,{ 'attr': {'class': 'form-control','placeholder':'Tu email'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.tel,'Teléfono:') }}
        {{ form_errors(form.tel) }}
        {{ form_widget(form.tel,{ 'attr': {'class': 'form-control','placeholder':'Tu Teléfono'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.subject,'Asunto:') }}
        {{ form_errors(form.subject) }}
        {{ form_widget(form.subject,{ 'attr': {'class': 'form-control','placeholder':'Asunto'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.message,'Mensaje:') }}
        {{ form_errors(form.message) }}
        {{ form_widget(form.message,{ 'attr': {'class': 'form-control','placeholder':'Mensaje','rows':'6','cols':'6'}}) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.send, { 'label': 'Enviar', 'attr':{'class':'btn btn-kids-entrar'} } ) }}
    </div>

    {{ form_end(form) }}
</div>
<script type="text/javascript" src="{{ asset('js/default_noty.js') }}"></script>
<script>
    if (typeof jQuery != 'undefined'){
        $( document ).ready(function() {
            $('#cotizacion_send').click(function(e){
                e.preventDefault();
                $.ajax({
                    type        : $('form').attr( 'method' ),
                    url         : $('form').attr( 'action' ),
                    data        : $('form').serialize(),
                    dataType    : "json"

                }).done(function(data) {
                    if(data.success==false){
                        $( "#error-form" ).html("<div class='alert alert-danger' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> " + data.message + "</div>"  );
                        console.log(data);
                    }
                    else{
                        noty({
                            text: data.message,
                            'layout':'bottom',
                            type:'kids',
                            timeout:3000});
                        setTimeout(function(){
                            window.location.href = data.targetUrl;
                        }, 500);

                        var n = noty({
                            theme: 'default_noty',
                        });
                    }

                    //alert( data );
                    //$(".cotizar-wraper").html(data);
                });
            });
        });

    }


</script>