{% extends 'kids/layout.html.twig' %}
{% block title %}The Event Planner | Home{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/title_kids.png') }}" alt="Kids Title">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuKids', [], {'image_title': 'title_kids.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="placa">

    </div>

    <h1 id="test">Make it Happen</h1>
    <div class="nuevo-buscador ">
        <button id="dropdownMenu1" type="button" data-toggle="dropdown">
            <a style="display: block" href="#buscador">Dinos lo que necesitas <i class="fa fa-chevron-down chevron-{{ app.request.get('slug_site') }}" aria-hidden="true"></i></a>
        </button>

        <div class="dropdown-menu list_categorias-{{ app.request.get('slug_site') }}" aria-labelledby="dropdownMenu1">
            <ul>
                {% for c in categorias %}
                    <li><a href="{{ path('proveedores_category', {'slug_site': app.request.get('slug_site'),'slug_category': c.slug}) }}">{{ c.nombre }}</a></li>
                {% endfor %}

            </ul>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div id="buscador" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{{ asset('images/kids/portada_1.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/kids/portada_3.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/kids/portada_2.jpg') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('images/kids/portada_4.jpg') }}" />
                    </li>
                </ul>
            </div>
        </div>



    </div>

    <div class="container text-center descripcion">
        <div class="col-md-10 col-md-offset-1">
            <p>No hay nada como celebrar el cumple de los pequeños de la casa. En nuestra sección de KIDS volverás a ser un niño y te darás cuenta que nuestras opciones son infinitas cuando se trata de ellos. Desde Frozen hasta Pokemón, desde juegos inflables hasta un cumple años en el bosque. Aquí podrás realizar lo imposible desde la comodidad de tu casa.
            </p>
        </div>
    </div>


    <div class="container-fluid home-slicks">
        <div class="container">
            <div class="row">
                <h1 class="tittle-slicks">Proveedores Más Buscados</h1>
                <!--
                <h3 class="subtittle-slick">Esperando por tí</h3>
                -->
                <div class="slick_wedding">
                    {% for p in mejores_proveedores %}
                        <a href="{{ path('proveedor_detail', {'slug_site': 'kids','slug_proveedor': p.proveedor.slug}) }}">
                            {% if p.proveedor.logo is not null %}
                                <img src="{{ vich_uploader_asset(p.proveedor.logo, 'logoFile','AppBundle\\Entity\\Logo') | imagine_filter('logo_thumb')}}" alt="{{ p.proveedor.nombre }}" />
                            {% else %}
                                <img src="{{ asset('images/logo_default.jpg') }}" alt="">
                            {% endif %}
                        </a>

                    {% endfor %}

                </div>
            </div>

        </div>
    </div>



    <div class="container-fluid home-slicks2">
        <div class="container">
            <h1 class="tittle-slicks">Nuestras Tendencias</h1>
            <div class="slick_wedding">
                {% for mi in mejores_inspiraciones %}
                    <a href="{{ path('inspiraciones_fotos',{'slug_site':'kids','tendencia_slug':mi.inspiracion.tendencia.slug}) }}">
                        <img  src="{{ vich_uploader_asset(mi.inspiracion, 'imgFile') }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if ultimas_noticias is not null %}
        <div class="container-fluid news-list">
            <div class="container">
                <h1 class="tittle-slicks">The Event Planner Blog</h1>


                {% for un in ultimas_noticias %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <a class="image-effect" href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}"><img src="{{ vich_uploader_asset(un.noticia, 'imgFile') }}" alt="..."></a>
                            <div class="caption">
                                <a href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}">
                                    <h3>{{ un.noticia.nombre }}</h3>
                                </a>
                                <p>{{ un.noticia.parafos[0].description| truncate(150)}}
                                </p>
                            </div>
                            <a style="color: #fff;" class="ver-mas-button btn btn-{{ app.request.get('slug_site') }}-entrar" href="{{ path('noticia_start',{'slug_site':app.request.get('slug_site'),'slug_noticia': un.noticia.slug}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Ver Más</a>

                        </div>
                    </div>
                {% endfor %}



            </div>
        </div>
    {% endif %}

    {#<div class="container-fluid news-list">
        <div class="container">
            <h1 class="tittle-slicks">The Event Planner Blog</h1>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a class="image-effect" href=""><img src="{{ asset('images/blog_kids1.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Fiestas maravillosas para bebés</h3>
                        </a>
                        <p>Este Post lo teníamos pendiente hace tiempo. En él que mostraremos una pequeña selección que hemos hecho de fiestas para Bebés, Bautizos o los famosos Baby Showers.
                            <a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_kids2.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Sonny Angels. Las Muñequitas que causan furor, ¡ya están aquí!</h3>
                        </a>
                        <p>No se si ya conocéis a los Sonny Angels. Yo las llevo viendo hace unos meses coladas en las fotografías de Blogs y en cuentas de Instagram que sigo hace algún tiempo...<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a  class="image-effect" href=""><img src="{{ asset('images/blog_kids3.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Globos gigantes tendencia en fiestas</h3>
                        </a>
                        <p>Nos fascinan los globos, inspiran diversión, libertad y alegría. llenan de color cualquier lugar, decoran una esquina y si son brillantes y muy grande mejor...<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a   class="image-effect" href=""><img src="{{ asset('images/blog_kids4.jpg') }}" alt="..."></a>
                    <div class="caption">
                        <a href="">
                            <h3>Una fiesta en tonos pastel</h3>
                        </a>
                        <p>Los colores pastel son de los más usados para una decorar una fiesta de primera comunión o una boda. La combinación de mint y rosa palo con blanco o el beige y el ...<a class="ver-mas-{{ app.request.get('slug_site') }}" href="">...ver más</a></p>


                    </div>
                </div>
            </div>

        </div>
    </div>#}



{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.smoothscroll.min.js') }}"></script>
    <script>
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            // some code..
        }else
        {
            $(function() {
                $('html').smoothScroll(500);
            });
        }
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: true,
            prevText: "Previous",
            nextText: "Next"
        });

        $('.slick_wedding').slick({
            arrows: true,
            autoplay: true,
            infinite: true,
            speed: 300,

            slidesToShow: 4,
            slidesToScroll:4,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        arrows: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        arrows: false,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });

    </script>

{% endblock %}
