{% extends 'kids/layout.html.twig' %}
{% block title %}Inspiraciones | Videos{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/inspiraciones_kids_tittle.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuKids', [], {'image_title': 'inspiraciones_kids_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    <div class="container breadcrumbs-{{ app.request.get('slug_site') }}">
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container"> 
        <div class="row">
            {% for v in videos %}
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9 video-general">
                        <iframe class="embed-responsive-item" src="{{ v.url }}"></iframe>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <strong>Fuentes: </strong>
        {% for v in videos %}
            {% if v.sources|length >0 %}
                <span class="sour sources-{{ app.request.get('slug_site') }}" style="margin: 5px 0">
                    {% for sour in v.sources %}
                        <a href="{{ sour.url }}" target="_blank">{{ sour.nombre }}</a>
                    {% endfor %}
                </span>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
