{% extends 'kids/layout.html.twig' %}
{% block title %}Inspiraciones | Fotos de Proveedores{% endblock %}

{% block main_title %}

    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/inspiraciones_kids_tittle.png') }}" alt="Inspiraciones Tittle">
            </div>
        </div>
    </div>
{% endblock %}
{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuKids', [], {'image_title': 'inspiraciones_kids_tittle.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}
    {#
     {{ dump(fotos_proveedores) }}
    {{ dump(fotos_proveedores.params.page) }}
    #}

        <div class="container container-sin"> 
            <div class="no-exist">
                {% if fotos_proveedores|length == 0 %}
                    <h1>¡Oh no!</h1>
                    <p>Por el momento no existen fotos de proveedores en esta sección.</p>
                {% endif %}
            </div>
            <div class="row">

                {% for fp in fotos_proveedores  %}
                    <div class="col-md-4 fotos_master popup-gallery">
                        {% if app.user is not null %}
                            {% set me_gusta = 0 %}
                            {% for fu in app.user.fotos %}
                                {% if fu.foto.id==fp.id %}
                                    {% set me_gusta = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if me_gusta==1 %}
                                <div class="boton-megusta_kids">
                                    <a href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                    {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% else %}
                                <div class="boton-megusta_kids">
                                    <a href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                    {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="boton-megusta_kids">
                                <a class="ajax-popup-link" href="{{ path('inspiraciones_proveedor_foto_me_gusta',
                                {'slug_site': app.request.get('slug_site'),"id":fp.id,"page":fotos_proveedores.params.page}) }}">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        {% endif %}

                        <a class="popup_proveedores" href="{{ path('proveedor_detail', {'slug_site': 'kids','slug_proveedor': fp.proveedor.slug}) }}"  title="{{ fp.proveedor.nombre }}">
                            <img src="{{ vich_uploader_asset(fp, 'imgFile')}}" alt="">
                        </a>
                    </div>
                {% endfor %}
                <div class="navigation-party">
                    {{ knp_pagination_render(fotos_proveedores,'foundation_v5_pagination.html.twig') }}
                </div>

            </div>
        </div>
{% endblock %}



