{% extends 'kids/layout.html.twig' %}
{% block title %}Blog {% endblock %}

{% block main_title %}
    <div id="tittle_responsive" class="container">
        <div class="row">
            <div class="tittle_base">
                <img src="{{ asset('images/title_blog_kids.png') }}" alt="Blog Tittle">
            </div>
        </div>
    </div>
{% endblock %}

{% block menuprincipal %}
    {% set menuItem = knp_menu_get('AppBundle:Builder:mainMenuKids', [], {'image_title': 'title_blog_kids.png'}) %}
    {{ knp_menu_render(menuItem) }}
{% endblock menuprincipal %}

{% block content %}
    {{ parent() }}


    {{ include('comun_includes/noticias_comun.html.twig')}}




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
