<div class="proveedor-info">
    {#
    <div class="liston">
        <img src="{{ asset('images/liston_wedding.png')}}" alt="wedding premium">
    </div>
    #}
    {% if app.user.logo is not null %}
        <img src="{{ vich_uploader_asset(proveedor.logo, 'logoFile') | imagine_filter('logo_thumb') }}" alt="{{ proveedor.nombre }}" />

    {% endif %}

    <div id="rateYo"  data-rating="3"></div>
    <a class="ajax-popup-link" href="javascript:void(0)">
        <button type="button" class="btn btn-coti-{{ app.request.get('slug_site') }}">Contactar Empresa</button></a>
    <br>
    <p>{{ proveedor.direccion }}, {{ proveedor.distrito }} - {{ proveedor.departamento }}</p>
    <p>{{ proveedor.telefono }}</p>
    {% if proveedor.web is not null %}
        <div class="links-proveedores l{{ app.request.get('slug_site') }}">
            <a href="javascript:void (0)" target="_blank">Página Web</a>
        </div>
    {% endif %}

    <div class="social-icons s{{ app.request.get('slug_site') }}">
        {% if proveedor.facebookLink is not null %}
            <a href="javascript:void(0)" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}

        {% if proveedor.twitterLink is not null %}
            <a href="javascript:void(0)" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}

        {% if proveedor.instagramLink is not null %}
            <a href="javascript:void(0)" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}

        {% if proveedor.pinteresLink is not null %}
            <a href="javascript:void(0)" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                    </span>
            </a>
        {% endif %}
    </div>


</div>



<div class="proveedor-social s{{ app.request.get('slug_site') }}">
    {% if app.user is not null %}
        {% if favorito is not null%}
            <a style="font-size: 20px;border-radius: 5px" class="button-like" href="javascript:void(0)"><i class="fa fa-heart" aria-hidden="true"></i></a>

        {% else %}
            <a style="font-size: 20px ;border-radius: 5px" class="button-like"href="javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
        {% endif %}

    {% else %}
        <a style="font-size: 20px;border-radius: 5px" class="button-like ajax-popup-link" href="javascript:void(0)"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

    {% endif %}


    <a id="button-share" style="font-size: 20px ;border-radius: 5px" class="button-share" href="javascript:void(0)"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
    <div class="social-icons2 s{{ app.request.get('slug_site') }}">
        <a href="" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
        </a>
        <a href="" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
        </a>
        <a href="" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
        </a>
    </div>
</div>