<nav id="nav-dashboard" class="navbar navbar-default">
    <ul class="nav menu-dashboard">
        <li>
            <a class="dropdown-toggle {{ seccion["home"] ? 'active' : '' }}" href="{{ path('admin_start') }}">
                <i class="fa fa-home" aria-hidden="true"></i> Inicio
            </a>
        </li>
        <li>
            <a class="dropdown-toggle {{ seccion["negocios"] ? 'active' : '' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-briefcase" aria-hidden="true"></i> Lista de Negocios
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_negocios') }}">Ver Todo</a></li>
                {#<li><a href="#">Agregar Nuevo</a></li>#}
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle {{ seccion["tendencias"] ? 'active' : '' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Lista de Tendencias
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_tendencias') }}">Ver Todo</a></li>
                <li><a href="{{ path('admin_tendencia_add') }}">Agregar Nuevo</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle {{ seccion["votos"] ? 'active' : '' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Lista de Votos
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_votos') }}">Ver Todo</a></li>
                <li><a href="{{ path('admin_voto_add') }}">Agregar Nuevo</a></li>
                <li><a href="{{ path('admin_votos_sort_list') }}">Ordenar</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle {{ seccion["videos"] ? 'active' : '' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Lista de Videos
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_videos') }}">Ver Todo</a></li>
                <li><a href="{{ path('admin_video_add') }}">Agregar Nuevo</a></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Ordenar</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_videos_sort_list',{slug_site:"wedding"}) }}">Para Wedding</a></li>
                        <li><a href="{{ path('admin_videos_sort_list',{slug_site:"party"}) }}">Para Party</a></li>
                        <li><a href="{{ path('admin_videos_sort_list',{slug_site:"kids"}) }}">Para Kids</a></li>
                        <li><a href="{{ path('admin_videos_sort_list',{slug_site:"dinner"}) }}">Para Dinner</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle {{ seccion["musicas"] ? 'active' : '' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Lista de Musicas
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_musicas') }}">Ver Todo</a></li>
                <li><a href="{{ path('admin_musica_add') }}">Agregar Nuevo</a></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Ordenar</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_musicas_sort_list',{slug_site:"wedding"}) }}">Para Wedding</a></li>
                        <li><a href="{{ path('admin_musicas_sort_list',{slug_site:"party"}) }}">Para Party</a></li>
                        <li><a href="{{ path('admin_musicas_sort_list',{slug_site:"kids"}) }}">Para Kids</a></li>
                        <li><a href="{{ path('admin_musicas_sort_list',{slug_site:"dinner"}) }}">Para Dinner</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a class="dropdown-toggle {{ seccion["noticias"] ? 'active' : '' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Lista de Noticias
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('admin_noticias') }}">Ver Todo</a></li>
                <li><a href="{{ path('admin_noticia_add') }}">Agregar Nuevo</a></li>
            </ul>
        </li>
    </ul>
</nav>