
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/croppic.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Cambiar Logo</title>
    <style>
        .cropImgWrapper{
            background: rgba(0,0,0,1);
            border-radius: 50%;
        }

    </style>
</head>

<body class="todo_negocio">
<nav class="navbar navbar-default nav-zonaneg">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% if app.user.logo is not null %}
                <a class="navbar-brand" href="#"><img class="logo_prov" src="{{ vich_uploader_asset(app.user.logo, 'logoFile','AppBundle\\Entity\\Logo')| imagine_filter('logo_thumb') }}" /></a>
            {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('AppBundle:Builder:menuNegocio',{ 'template': 'knp_menu.html.twig'}) }}
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('negocio_logout') }}">Salir</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

{% for label, flash in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}

<div class="container dashboard negocio_reg">




    <div id="select-img" class="col-md-6" >
        <div class="panel panel-default">

            <div class="panel-heading">
                <i class="fa fa-picture-o" aria-hidden="true"></i> Cambiar Logo
            </div>
            <div class="panel-body">
                <div id="cropContainerMinimal" style="width: 250px;height: 250px;margin:10px auto"></div>
                <p>
                    <br>
                    Recomendamos una imagen formato JPG
                    <br>
                    La imagen no puede pesar mas de 1Mb
                    <br>
                    El Logo debe estar centrado en el circulo
                    <br>
                    Es recomendable también no dejar espacios en negro
                </p>
            </div>
        </div>
    </div>
    <div id="select-img2" class="col-md-6" >
        <div class="panel panel-default">

            <div class="panel-heading">
                <i class="fa fa-picture-o" aria-hidden="true"></i> Logo Actual
            </div>
            <div class="panel-body">
                {% if app.user.logo is not null %}
                    <img  style="margin-bottom: 10px" src="{{ vich_uploader_asset(logo, 'logoFile','AppBundle\\Entity\\Logo') }}" />

                {% endif %}
            </div>
        </div>
    </div>

</div>


<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>


<script type="text/javascript" src="{{ asset('js/croppic_edited.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.noty.packaged.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/default_noty.js') }}"></script>
<script>

    $("#select-ipumg int").filestyle('buttonText', 'Seleccionar Foto');
    $("#select-img input").filestyle('icon', false);

    $("#select-img input").addClass("filestyle");

    var dev = "";
    var cropperOptions = {
        uploadUrl:dev+'/negocio/zona/image-processing',
        cropUrl:dev+'/negocio/zona/image-crop',
        //uploadUrl:'/profile/image-processing',
        //cropUrl:'/profile/image-crop',
        modal:false,
        doubleZoomControls:true,
        rotateControls: false,
        loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
        onBeforeImgUpload: function(){  },
        onAfterImgUpload: function(){  },
        onImgDrag: function(){  },
        onImgZoom: function(){  },
        onBeforeImgCrop: function(){  },
        onAfterImgCrop:function(data){
            noty({
                text: data.message,
                'layout':'bottom',
                type:'theevent',
                timeout:2000});
            setTimeout(function(){
                window.location.href = data.targetUrl;
            }, 3000);
            var n = noty({
                theme: 'default_noty',
            });
        },
        onReset:function(){  },
        onError:function(errormessage){ }
    }
    var cropperHeader = new Croppic('cropContainerMinimal', cropperOptions);
</script>
</body>


</html>






