
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Cambiar Logo</title>
</head>

<body class="todo_negocio">
<nav class="navbar navbar-default nav-zonaneg">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#"><img class="logo_prov" src="{{ vich_uploader_asset(app.user.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('AppBundle:Builder:menuNegocio',{ 'template': 'knp_menu.html.twig'}) }}
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('negocio_logout') }}">Salir</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

<div class="container dashboard">


    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="col-md-6 col-md-offset-3">
        <div class="comments-box">

                <div class="media comment">
                    <div class="media-left">
                        {% if comentario.user.profile is not null %}
                            <img class="img-circle"  alt="user icon" src="{{ vich_uploader_asset(comentario.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                        {% else %}
                            <img class="img-circle"  alt="user icon" src="{{ asset('images/user_icon.png') }}">
                        {% endif %}
                    </div>
                    <div class="media-body">

                        <h5 class="media-heading">
                            <h3 style="margin-top: 0">{{ comentario.titulo }}</h3>
                            <div class="rateYo_comments" data-rating="{{ comentario.nota }}"></div><span>{{ comentario.user }} - </span>
                            <small class="date">{{ comentario.adedAt|date("d F, Y") }}</small>
                        </h5>
                        <p>{{ comentario.comentario }}</p>

                    </div>
                </div>

        </div>
    </div>

    <div class="col-md-6 col-md-offset-3">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.respuesta,'Respuesta') }}
            {{ form_errors(form.respuesta) }}
            {{ form_widget(form.respuesta,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Responder'}) }}
        </div>
        {{ form_end(form) }}
    </div>


</div>


<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>


<script>
    $("#bs-example-navbar-collapse-1 ul").addClass("nav navbar-nav");
</script>
</body>


</html>



