
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Login</title>
</head>

<body class="todo_negocio">
<nav class="navbar navbar-default nav-zonaneg">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#"><img class="logo_prov" src="{{ vich_uploader_asset(app.user.logo, 'logoFile','AppBundle\\Entity\\Logo') }}" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('AppBundle:Builder:menuNegocio',{ 'template': 'knp_menu.html.twig'}) }}
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('negocio_logout') }}">Salir</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

<div class="container dashboard negocio_reg register_negocio">
    <div id="select-img" class="col-md-8 col-md-offset-2" >
        <div class="panel panel-default">

            <div class="panel-heading">
                <i class="fa fa-camera" aria-hidden="true"></i> Subir Nueva Foto
            </div>
            <div class="panel-body foto_caja">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                {{ form_widget(form.imgFile,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Seleccionar Foto'}) }}
                {{ form_errors(form.imgFile) }}
                <div>
                    {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Subir Foto'}) }}

                </div>
                {{ form_end(form) }}
                <p>Las imagenes deben ser de 750x450px<br/>
                   La Imagen formato Jpg
                </p>

            </div>
        </div>
    </div>






    {% for label, flash in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flash }}
        </div>
    {% endfor %}

    <div class="fotos_galery">
        {% for foto in fotos %}
            <div class="col-md-4 gest-img">
                <a onclick="return confirm('¿Estas seguro de eliminar esta foto?');" href="{{ path('negocio_zona_imagenes_delete',{"id":foto.id}) }}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                {% if foto.isListado==true  %}
                    <a class="imagertrue" href="{{ path('negocio_zona_imagen_listado',{"id":foto.id}) }}">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <p>Foto principal de listado</p>
                    </a>
                {% else %}
                    <a class="imager" href="{{ path('negocio_zona_imagen_listado',{"id":foto.id}) }}">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <p>Seleccionar como foto principal de listado</p>
                    </a>
                {% endif %}



                <img src="{{ vich_uploader_asset(foto, 'imgFile')}}" />

            </div>
        {% endfor %}
    </div>



</div>


<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>


<script>
    $("#bs-example-navbar-collapse-1 ul").addClass("nav navbar-nav");
    $("#select-img input").filestyle('buttonText', 'Seleccionar Foto');
    $("#select-img input").filestyle('icon', false);

    $("#select-img input").addClass("filestyle");


</script>
</body>


</html>






