<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <title>Login</title>
</head>



<body class="pic_foto">
<div class="container-fluid" style="margin-top: 10%">
    <div class="row">
        <div class="col-md-5 negocio-form">

            <div class="register-logo">
                <img src="{{ asset('images/register_logo.png') }}" alt="">
            </div>
            <form novalidate action="{{ path('login_negocio') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger" role="alert" style="margin-bottom: 0px">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" class="form-control" id="username" placeholder="Usuario" name="_username" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña" name="_password" />
                </div>

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                <button class="btn btn-entrar" style="width: 100%" type="submit">Ingresar al Panel</button>


            </form>

        </div>
        <div class="col-md-5 frase-negocio">
            <h2 class="animated animacion bounceInDown">¡Crece con</h2>
            <h1 class="animated animacion bounceInRight">Nosotros!</h1>
            <!--
            <h2 class="animated animacion bounceInDown">con nosotros!</h2>
            -->
            <a class="animated animacion bounceInDown" href="{{ path('register_negocio_start') }}">
                <button class="btn btn-registro"  type="submit">Registrar Empresa</button>
            </a>

        </div>

    </div>
    {# {{ app.request.headers.get('referer') }} #}
    {% set site = app.session.get('site') %}
    {% if site is null %}
            <a href="{{ path('selection_start')}}">
                <div id="atras">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </a>
        {% else %}
            <a href="{{ path('site_start',{'slug_site': app.session.get('site')}) }}">
                <div id="atras">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </a>
    {% endif %}


</div>
</body>




</html>