
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Cambiar Datos</title>
</head>

<body class="todo_negocio">
<nav class="navbar navbar-default nav-zonaneg">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#"><img class="logo_prov" src="{{ vich_uploader_asset(app.user.logo, 'logoFile','AppBundle\\Entity\\Logo')| imagine_filter('logo_thumb') }}" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('AppBundle:Builder:menuNegocio',{ 'template': 'knp_menu.html.twig'}) }}
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('negocio_logout') }}">Salir</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

{% for label, flash in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}

<div class="container-fluid dashboard negocio_reg">

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}


    <div class="col-md-10 col-md-offset-1 form-login3">

        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-check-square" aria-hidden="true"></i> Datos de Acceso
            </div>
            <div class="panel-body">
                <div class="col-md-6">

                    <div class="form-group">
                        {{ form_label(form.username,'Usuario') }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <p>El usuario debe tener al menos 6 caracteres, la contraseña al menos 4 caracteres y considera las mayúsculas y minúsculas.</p>
                </div>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-briefcase" aria-hidden="true"></i> Datos de Empresa
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.description,'Descripción') }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description,{ 'attr': {'class': 'form-control','placeholder':'Descripción'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nombre,'Nombre') }}
                        {{ form_errors(form.nombre) }}
                        {{ form_widget(form.nombre,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email,'Email') }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.direccion,'Dirección') }}
                        {{ form_errors(form.direccion) }}
                        {{ form_widget(form.direccion,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.departamento,'Departamento') }}
                        {{ form_errors(form.departamento) }}
                        {{ form_widget(form.departamento,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.distrito,'Distrito') }}
                        {{ form_errors(form.distrito) }}
                        {{ form_widget(form.distrito,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.telefono,'Teléfono') }}
                        {{ form_errors(form.telefono) }}
                        {{ form_widget(form.telefono,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Los datos de la empresa son de gran importacia mantenganlos actualizados.</p>
                </div>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users" aria-hidden="true"></i> Datos Sociales
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.web,'Web') }}
                        {{ form_errors(form.web) }}
                        {{ form_widget(form.web,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.facebookLink,'Facebook Link') }}
                        {{ form_errors(form.facebookLink) }}
                        {{ form_widget(form.facebookLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.twitterLink,'Twitter Link') }}
                        {{ form_errors(form.twitterLink) }}
                        {{ form_widget(form.twitterLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.pinteresLink,'Pinterest Link') }}
                        {{ form_errors(form.pinteresLink) }}
                        {{ form_widget(form.pinteresLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.instagramLink,'Instagram Link') }}
                        {{ form_errors(form.instagramLink) }}
                        {{ form_widget(form.instagramLink,{ 'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        Ingrese sus datos sociales para ser contactados por sus clientes.
                    </p>
                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-briefcase" aria-hidden="true"></i> Rubro de Actividad
            </div>
            <div class="panel-body">
                {% if form.categoriasListado.vars.errors|length>0 %}
                    <div class="alert alert-danger" role="alert">
                        <div> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ form_errors(form.categoriasListado) }}</div>
                    </div>
                {% endif %}
                <div class="form-group check-boxs">
                    {% for name, choices in form.categoriasListado.vars.choices %}
                        <div class="col-md-3 ">
                            <ul>
                                <li class="checkbox_category">
                                    <input type="checkbox" class="checkallsub" /> {{ name }}
                                </li>

                                {% for key,choice in choices %}
                                    <li class="indent">
                                        {{ form_errors(form.categoriasListado[key]) }}
                                        {{ form_widget(form.categoriasListado[key]) }}
                                        {{ form_label(form.categoriasListado[key]) }}
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>

                    {% endfor %}
                </div>

            </div>

        </div>


        <div class="form-group">
            {{ form_widget(form.submit,{ 'attr': {'class': 'btn btn-entrar'},'label': 'Enviar'}) }}
        </div>

        {{ form_end(form) }}
    </div>



</div>


<script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>



<script>
    $("#bs-example-navbar-collapse-1 ul").addClass("nav navbar-nav");



</script>
</body>


</html>


