<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,100italic,700,700italic,400italic,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery.rateyo.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>Dashboard</title>
</head>

<body >


    <nav class="navbar navbar-default nav-zonaneg">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {% if app.user.logo is not null %}
                    <a class="navbar-brand" href="#"><img class="logo_prov" src="{{ vich_uploader_asset(app.user.logo, 'logoFile','AppBundle\\Entity\\Logo')| imagine_filter('logo_thumb') }}" /></a>
                {% endif %}


            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{ knp_menu_render('AppBundle:Builder:menuNegocio',{ 'template': 'knp_menu.html.twig'}) }}
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('negocio_logout') }}">Salir</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid dashboard">

        {{ include('negocio/popup_logo.html.twig')}}

        <div class="row">

            <div class="col-md-4 best_pics">
                <div class="dashboard-section-icons">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>
                <p>Fotos Destacadas</p>
                {% for p in mejores_fotos  %}
                    <div class="col-md-6 foto_favorite">
                        <img src="{{ vich_uploader_asset(p.foto, 'imgFile')}}" alt="">
                    </div>
                {% endfor %}

            </div>

            <div class="col-md-4">

                <div class="col-md-12 moy">
                    <div class="dashboard-section-icons">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>CALIFICACIÓN</p>
                    <span>{{ moy|round(1, 'floor') }}</span>
                    <div id="rateYo2" data-moy="{{ moy }}"></div>
                </div>

                <div class="col-md-12 total_users">
                    <div class="dashboard-section-icons">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <span id="lines2" data-total="{{favorito_total_usuarios}}">0</span>
                    <p>Seguidores</p>
                </div>
            </div>

            <div class="col-md-4 comments-negocio">
                <div class="dashboard-section-icons">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </div>

                    <div class="comments-box">
                        <h4 class="title-heading">Comentarios <span>({{ comentarios|length }})</span></h4>
                        {% for c in comentarios %}
                            <a class="links-comments" href="{{ path('negocio_zona_comentario',{"id":c.id}) }}">
                                <div class="media comment">
                                    <div class="media-left">
                                        {% if c.user.profile is not null %}
                                            <img class="img-circle"  alt="user icon" src="{{ vich_uploader_asset(c.user.profile, 'profileFile','AppBundle\\Entity\\FotoProfile') }}">
                                        {% else %}
                                            <img class="img-circle"  alt="user icon" src="{{ asset('images/user_icon.png') }}">
                                        {% endif %}
                                    </div>
                                    <div class="media-body">

                                        <h5 class="media-heading">
                                            <h3 style="margin-top: 0">{{ c.titulo }}</h3>
                                            <div class="rateYo_comments" data-rating="{{ c.nota }}"></div><span>{{ c.user }} - </span>
                                            <small class="date">{{ c.adedAt|date("d F, Y") }}</small>
                                        </h5>
                                        <p>{{ c.comentario }}</p>
                                        <div class="col-md-11 respuesta">
                                            {% if c.respuesta is not null %}
                                                <p>{{ c.respuesta.respuesta }}</p>
                                            {% endif %}
                                        </div>

                                    </div>
                                    <button class="btn btn-responder">Responder</button>
                                </div>
                            </a>

                        {% endfor %}
                    </div>
            </div>

        </div>
    </div>








    <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.rateyo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $("#bs-example-navbar-collapse-1 ul").addClass("nav navbar-nav");

        var totallikes=$('#lines2').attr("data-total");
        var recuperar= $("#rateYo2").attr("data-moy");

        $('#lines2').animateNumber({ number: totallikes });

        $("#rateYo2").rateYo({
                    rating: recuperar,
                    ratedFill: "#D12768",
                    normalFill: "#A0A0A0",
                    starWidth: "60px",
                    onChange: function (rating, rateYoInstance) {
                        $(this).next().text(rating);
                    }

                })

        $("#rateYo2").rateYo("option", "readOnly", true);



        var logofalse= $('#logo_false').attr('data-logo');

        if (logofalse == 0){
            setTimeout(function(){
                $.magnificPopup.open({
                    items: {
                        src: $('#small-dialog'), // can be a HTML string, jQuery object, or CSS selector
                        type: 'inline'
                    }
                });
            }, 1500);

        }


    </script>
</body>


</html>